Repository pagopa/io-infra, pull requests merged in 2021-12, with the labels that each got.

#47 [#IC-126] Add profiles topic to Event Hub
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
  src/core/function_elt.tf
Labels: status: applied

#48 add eucovid cert avaibility alert
  src/core/.terraform.lock.hcl
  src/core/README.md
  src/core/eucovidcert.tf
  src/core/function_elt.tf
  src/core/main.tf
  src/core/variables.tf
Labels: status: applied

#45 [INFRA-291] Migrate to new app backend for io app
  .devops/code-review-pipelines.yml
  src/core/README.md
  src/core/appgateway.tf
  src/core/dns_io_italia_it.tf
  src/core/monitor.tf
Labels: status: applied

#49 Increase app gateway min instances
  src/core/dns_io_italia_it.tf
  src/core/env/prod/terraform.tfvars
Labels: status: applied

#50 New storage api replica
  src/core/storage_api_replica.tf
Labels: status: applied

#53 fix-appgateway instances and cookie name
  src/core/appgateway.tf
  src/core/env/prod/terraform.tfvars
Labels: status: applied

#51 [IC-134] New env variable for messages report
  src/core/function_elt.tf
Labels: status: ready to apply

#54 Disable appgw accesslogs
  src/core/README.md
  src/core/appgateway.tf
  src/core/storage_api_replica.tf
Labels: status: applied

#55 [#IC-115] Create resources for `Selfcare IO`
  src/core/dns_io_selfcare_pagopa_it.tf
  src/core/env/prod/terraform.tfvars
  src/core/function_elt.tf
  src/core/security.tf
  src/core/selfcare.tf
  src/core/variables.tf
Labels: status: applied

#57 [INFRA-378] Expose selfcare backend apis
  src/core/appgateway.tf
  src/core/env/prod/terraform.tfvars
  src/core/security.tf
  src/core/selfcare.tf
  src/core/variables.tf
Labels: no apply, no merge

#60 [#IC-154] add SERVICEID_EXCLUSION_LIST variable to fn-elt
  src/core/function_elt.tf
Labels: status: applied

#61 [#IC-67] Add MVL backend endpoints
  src/core/api/io_backend/app/v1/_swagger.json.tpl
Labels: status: applied

#64 Set `SelfCare IO` idp to UAT
  src/core/selfcare.tf
Labels: status: applied

#66 Fix api-mtls http response code
  src/core/monitor.tf
Labels: status: applied

#67 [#IC-160] Implement jwk signature verification on `SelfCare IO`
  src/core/appgateway.tf
  src/core/selfcare.tf
Labels: status: apply in progress

#68 [#IC-160] Implement jwk signature verification on `SelfCare IO` (cleanup)
  src/core/selfcare.tf
Labels: status: apply in progress

#69 [#INFRA-437] Migrate-devportal
  src/core/appgateway.tf
  src/core/devportal.tf
  src/core/monitor.tf
  src/core/selfcare.tf
Labels: status: applied
