Repository pagopa/io-infra, pull requests merged in 2022-12, with the labels that each got.

#314 [SFEQS-1131] Add env for io-sign backend
  src/core/README.md
  src/core/app_backend.tf
Labels: status: applied

#306 [#IOCIT-179] Import `fn-eucovidcert` into IAC
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
  src/core/function_eucovidcert.tf
Labels: status: partially applied

#322 [#IOCIT-204] Add MySQL Connection config
  src/domains/messages-common/03_database.tf
Labels: status: applied

#323 [#IOCIT-204] Remove reminder PostgreSQL
  src/domains/messages-common/03_database.tf
Labels: status: applied

#317 [#IOCIT-181] upgrade function v4 staging slot
  src/core/README.md
  src/core/data.tf
  src/core/function_assets_cdn.tf
  src/domains/messages-common/README.md
Labels: status: applied

#324 [#IOCIT-181 BIS] applied v4 to prod
  src/core/function_assets_cdn.tf
Labels: status: applied

#296 [IOCIT-199] appbackend too many errors alert
  src/.template-common/README.md
  src/.template/README.md
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_backend.tf
  src/core/env/dev/terraform.tfvars
  src/core/env/prod/terraform.tfvars
Labels: status: applied

#333 [#IOCIT-174] Add Container Name and queues for Fn-Services
  src/core/README.md
  src/core/function_services.tf
Labels: status: applied

#312 [#IOCIT-183] add cgn merchant
  src/core/README.md
  src/core/cgn.tf
  src/core/function_cgn.tf
  src/core/function_cgn_merchant.tf
Labels: status: applied

#335 [#IOCIT-174] APIM Policy for progressive rollout fn-services v4
  src/core/api/io_services/v1/policy.xml
Labels: status: applied

#341 [#IOCIT-183] added apim values for cgn merchant
  src/core/README.md
  src/core/cgn.tf
Labels: status: apply in progress

#340 [#IOPSC-118] Limit `createService` concurrency
  src/core/README.md
  src/core/api/io_services/v1/post_createservice_policy/policy.xml
  src/core/apim_io_services_api.tf
Labels: status: applied

#343 Tuning services and app gateway scale out
  src/core/env/prod/terraform.tfvars
  src/core/function_services.tf
Labels: status: applied

#316 [#IOCIT-182] add fn public
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
  src/core/function_shared.tf
Labels: status: applied

#345 [#IOCIT-182] reinstate fn public file
  src/core/README.md
  src/core/function_public.tf
Labels: status: applied

#349 [#IOCIT-188] `fn-app-messages` upgrade staging slot to v4 - STEP 1
  src/core/README.md
  src/core/app_messages.tf
Labels: status: apply in progress

#350 [#IOCIT-188] `fn-app-messages` upgrade staging slot to v4 - STEP 2
  src/core/README.md
  src/core/app_messages.tf
Labels: status: applied

#351 [#IOCIT-190] Upgrade function-elt runtime version to v4
  src/core/README.md
  src/core/app_messages.tf
  src/core/function_elt.tf
Labels: status: applied

#354 [#IOCIT-190] Enable analytics functions for pdnd on function_elt
  src/core/function_elt.tf
Labels: status: applied

#344 [#IOCIT-184] - Migrate io-functions-messages-cqrs to Runtime V4 Step 1
  src/core/README.md
  src/core/function_messages_cqrs.tf
Labels: status: applied

#356 [#IOCIT-184] - Functions Messages CQRS migration to V4 Runtime Part 3
  src/core/function_messages_cqrs.tf
Labels: status: applied

#327 [IOCIT-216] Add `io-p-cosmos-api` throttling alert
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
Labels: status: applied

#339 [IOCIT-228] Upgrade `function_app` module for functions services
  src/core/README.md
  src/core/function_services.tf
Labels: status: applied

#338 [#IOCIT-221] `iopstapi` Low Availability alert
  src/core/README.md
  src/core/data.tf
Labels: status: applied

#347 [#IOPSC-124] Connect to assets storage
  src/core/function_devportal_service_data.tf
Labels: status: apply in progress

#357 [#IOCIT-177] Add new v4 Push Notifications Fn to Messages domain
  src/core/env/prod/terraform.tfvars
  src/domains/messages-app/01_monitor.tf
  src/domains/messages-app/04_storage.tf
  src/domains/messages-app/07_function_pushnotif.tf
  src/domains/messages-app/08_notification_hub.tf
  src/domains/messages-app/98_testusers.tf
  src/domains/messages-app/99_locals.tf
  src/domains/messages-app/99_variables.tf
  src/domains/messages-app/README.md
  src/domains/messages-app/env/weu-beta/terraform.tfvars
  src/domains/messages-app/env/weu-prod01/terraform.tfvars
  src/domains/messages-common/01_monitor.tf
  src/domains/messages-common/01_network.tf
  src/domains/messages-common/04_storage.tf
  src/domains/messages-common/99_variables.tf
  src/domains/messages-common/README.md
  src/domains/messages-common/env/prod/terraform.tfvars
Labels: status: applied

#363 [#IOCIT-177] Add secret for NH endpoints on PushNotif
  src/domains/messages-app/07_function_pushnotif.tf
  src/domains/messages-app/09_keyvault.tf
  src/domains/messages-app/README.md
Labels: status: applied

#359 [IOCIT-177] Add new push notification queue variables + a/b test setup
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
Labels: status: apply in progress

#365 [#IOCIT-177] Add new push notification secret for service messages
  src/domains/messages-app/07_function_pushnotif.tf
  src/domains/messages-common/04_storage.tf
  src/domains/messages-common/README.md
Labels: status: applied
