Repository pagopa/io-infra, pull requests merged in 2022-02, with the labels that each got.

#95 app registration for cgn and role assingement.
  src/core/.terraform.lock.hcl
  src/core/README.md
  src/core/cgn.tf
  src/core/main.tf
Labels: status: applied

#97 Test cgn backend authentication with service principal
  src/core/.terraform.lock.hcl
  src/core/cgn.tf
Labels: status: applied

#98 [#IC-185] Add environment configs for `subscription-migrations`
  src/core/function_subscription_migrations.tf
Labels: status: applied

#96 [#IC-231] Set other MVL provider env variable
  src/core/app_backend.tf
Labels: status: applied

#103 [#IC-238] Add missing db definition for `io-service-migrations`
  src/core/function_subscription_migrations.tf
Labels: status: apply in progress

#102 [#IC-185] Add `APIM_SERVICE_NAME` value
  src/core/function_subscription_migrations.tf
Labels: status: applied

#99 [#IC-238] db schema migrations for `io-subscrioption-migrations`
  .devops/code-review-pipelines.yml
  .devops/deploy-pipelines.yml
  src/core/function_subscription_migrations.tf
  src/psql/selfcare/subscription-migrations/flyway.sh
  src/psql/selfcare/subscription-migrations/migrations/db/V1__schema.sql
Labels: status: apply in progress

#107 [#IC-246] Fix APIM service name
  src/core/function_subscription_migrations.tf
Labels: status: apply in progress

#111 fix type in schemas
  src/core/function_subscription_migrations.tf
  src/psql/selfcare/subscription-migrations/migrations/db/V2__schema_fixed.sql
Labels: status: applied

#115 Cosmos cgn collections
  src/core/cgn.tf
Labels: status: applied

#81 CGN Cosmos db containers
  src/core/README.md
  src/core/cgn.tf
Labels: status: applied

#71 Scale out appgw 4 cgn go live
  src/core/env/prod/terraform.tfvars
Labels: status: applied

#101 [#IC-242] Switched backend pointer from uat to prod functions
  src/core/app_backend.tf
Labels: no apply, no merge

#122 set empty app settings
  src/core/app_backend.tf
Labels: status: applied

#124 [IOPAY-504] Switch pagopa-proxy prod to pagoPA
  src/core/app_backend.tf
  src/core/data.tf
Labels: status: applied
