Repository pagopa/io-infra, pull requests merged in 2022-01, with the labels that each got.

#72 CGN Redis with private endpoint
  src/core/README.md
  src/core/cgn.tf
  src/core/private_dns_zones.tf
Labels: status: applied

#78 Cosmos db Cgn
  src/core/README.md
  src/core/cgn.tf
Labels: status: applied

#76 Pointed uat cgn operator search functions
  src/core/app_backend.tf
Labels: status: applied

#80 Cosmosdb cgn database
  src/core/README.md
  src/core/cgn.tf
Labels: status: applied

#77 [#IC-193] Add `io-subscription-migrations` function app
  src/core/README.md
  src/core/data.tf
  src/core/function_subscription_migrations.tf
Labels: status: apply in progress

#83 Fix-fn-slot
  src/core/README.md
  src/core/function_subscription_migrations.tf
  src/core/selfcare.tf
Labels: status: applied

#87 Sql cosmos db private endpoint
  src/core/cgn.tf
  src/core/data.tf
Labels: status: applied

#88 Apim api cgn merchant
  src/core/api/cgn/policy.xml
  src/core/api/cgn/swagger.json.tmpl
  src/core/api/cgn/v1/_base_policy.xml
  src/core/api/cgn/v1/_swagger.json.tpl
  src/core/cgn.tf
Labels: status: applied

#89 Apim role assignment for app service cgn onboarding portal
  src/core/cgn.tf
Labels: status: applied

#90 CGN Merchant Api
  src/core/README.md
  src/core/api/base_policy.xml
  src/core/api_product/cgn/policy.xml
  src/core/cgn.tf
Labels: status: applied

#91 [#IC-206] Add new format for MVL variables
  .pre-commit-config.yaml
  src/core/api/base_policy.xml
  src/core/api_product/cgn/policy.xml
  src/core/app_backend.tf
  src/core/cgn.tf
Labels: env: prod, status: applied

#82 [#IC-194] Add database for `subscription-migrations`
  .terraform-version
  src/core/.terraform.lock.hcl
  src/core/function_subscription_migrations.tf
  src/core/private_dns_zones.tf
Labels: status: applied
