Repository pagopa/io-infra, pull requests merged in 2023-10, with the labels that each got.

#699 [IOPLT-169] Upgrade AKS main components
  src/.template-app/env/weu-beta/terraform.tfvars
  src/.template-app/env/weu-prod01/terraform.tfvars
  src/aks-platform/03_ingress.tf
  src/aks-platform/env/weu-beta/terraform.tfvars
  src/aks-platform/env/weu-prod01/terraform.tfvars
  src/core/.terraform.lock.hcl
  src/core/monitor.tf
  src/domains/citizen-auth-app/env/weu-beta/terraform.tfvars
  src/domains/citizen-auth-app/env/weu-prod01/terraform.tfvars
  src/domains/ioweb-app/env/weu-prod01/terraform.tfvars
  src/domains/messages-app/env/weu-beta/terraform.tfvars
  src/domains/messages-app/env/weu-prod01/terraform.tfvars
  src/domains/messages-app/env/weu-prod02/terraform.tfvars
  src/domains/payments-app/env/weu-beta/terraform.tfvars
  src/domains/payments-app/env/weu-prod01/terraform.tfvars
  src/domains/payments-app/env/weu-prod02/terraform.tfvars
  src/domains/profile-app/env/weu-beta/terraform.tfvars
  src/domains/profile-app/env/weu-prod01/terraform.tfvars
  src/domains/profile-app/env/weu-prod02/terraform.tfvars
Labels: status: apply in progress

#697 chore(sign): [SFEQS-2035] Replace application stack on backoffice
  src/domains/sign/99_variables.tf
  src/domains/sign/env/prod/terraform.tfvars
  src/domains/sign/io_sign_backoffice_app.tf
  src/domains/sign/io_sign_backoffice_func.tf
  src/domains/sign/monitoring.tf
Labels: status: applied

#714 [#IOPID-867] updated env variables
  src/core/README.md
  src/core/function_app.tf
Labels: status: applied

#716 [#IOPLT-20] Dismiss APIM v1
  src/core/99_variables.tf
  src/core/README.md
  src/core/apim.tf
  src/core/apim_cgn_operator_search.tf
  src/core/apim_io_admin_api.tf
  src/core/apim_io_backend_v1.tf
  src/core/apim_io_public_api.tf
  src/core/apim_io_services_api.tf
  src/core/apim_v2.tf
  src/core/apim_v2_cgn.tf
  src/core/app_backend.tf
  src/core/app_messages.tf
  src/core/cgn.tf
  src/core/env/prod/terraform.tfvars
  src/core/function_admin.tf
  src/core/function_cgn.tf
  src/core/function_cgn_merchant.tf
  src/core/function_eucovidcert.tf
  src/core/function_messages_cqrs.tf
  src/core/function_public.tf
  src/core/function_services.tf
  src/core/network.tf
  src/domains/citizen-auth-app/01_network.tf
  src/domains/citizen-auth-app/04_fims.tf
  src/domains/citizen-auth-app/04_function_lollipop.tf
  src/domains/citizen-auth-app/07_function_fast_login.tf
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-common/03_apim.tf
  src/domains/citizen-auth-common/99_locals.tf
  src/domains/citizen-auth-common/README.md
  src/domains/messages-common/05_apim.tf
  src/domains/messages-common/99_locals.tf
  src/domains/messages-common/README.md
  src/domains/payments-common/05_api.tf
  src/domains/payments-common/99_locals.tf
  src/domains/payments-common/README.md
  src/domains/sign/apim.tf
  src/domains/sign/io_sign_backoffice_app.tf
  src/domains/sign/io_sign_issuer_func.tf
  src/domains/sign/io_sign_support_func.tf
  src/domains/sign/network.tf
Labels: status: apply in progress, status: partially applied

#719 Add new test user
  src/core/test_users.tf
Labels: status: apply in progress
