Repository pagopa/io-infra, pull requests merged in 2023-05, with the labels that each got.

#539 fix(continua) [SFEQS-1597]: Define AppService configuration environment variables
  src/core/appgateway.tf
  src/core/continua_dynamiclink.tf
Labels: status: ready to apply

#548 fix(continua): [SFEQS-1628] Production configuration for IO App
  src/core/continua_dynamiclink.tf
Labels: status: apply in progress

#550 [#IOPLT-4] Add Mailup CNAME record to dns
  src/core/README.md
  src/core/dns_io_italia_it.tf
Labels: status: apply in progress

#554 Disable alert for appbackend
  src/core/app_backend.tf
Labels: status: apply in progress

#418 [#ICC-333] Update node version for io-functions-cgn
  src/core/function_cgn.tf
Labels: status: applied

#557 Update node to 18 for prod
  src/core/function_cgn.tf
Labels: status: applied

#515 [ICC-350] Update node version for cgn merchant in staging slot
  src/core/function_cgn_merchant.tf
Labels: status: applied

#559 [#IOCOM-219] Update node to 18 in prod slot
  src/core/function_cgn_merchant.tf
Labels: status: applied

#563 Revert "Remove app-backend from aks step1 (point to app-backendli)"
  src/core/function_services.tf
Labels: status: applied

#560 [#IOPID-202] Add new login redirect absolute paths + canary regex
  src/core/app_backend.tf
Labels: status: applied

#570 feat: [SFEQS-1645] Add Access-Control-Allow-Origin header on Assets CDN
  src/core/assets_cdn.tf
Labels: status: applied

#573 [#IOPID-207] Create a new Redis v6 resource for fn-app-messages
  src/core/README.md
  src/core/app_messages.tf
  src/core/monitor.tf
Labels: status: applied

#576 [#IOPID-207] Remove Redis V4 cache fn-app-messages
  src/core/README.md
  src/core/app_messages.tf
Labels: status: applied

#551 [#] Open new email template for messages to all
  src/core/function_services.tf
Labels: status: applied

#552 [#] Open new email template for email validation to all
  src/core/function_app.tf
Labels: status: apply in progress
