Repository pagopa/io-infra, pull requests merged in 2023-02, with the labels that each got.

#412 Test Migrate io-backend into aks
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
  src/core/function_services.tf
  src/core/keyvault.tf
  src/core/keyvault_access_policy.tf
  src/domains/messages-app/02_namespace.tf
  src/domains/messages-app/README.md
  src/domains/messages-common/05_apim.tf
  src/domains/messages-common/README.md
  src/domains/messages-common/api/io-backend-notification/v1/_base_policy.xml
  src/domains/messages-common/api/io-backend-notification/v1/_openapi.yaml
Labels: status: apply in progress

#413 [#IOPAE-98] Connect `fn-eucovidcert` to `fn-services` instances
  src/core/function_eucovidcert.tf
Labels: status: apply in progress

#373 [#IOCIT-224] Change references to `fn-eucovidcert` for certificate resolution
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
  src/core/function_eucovidcert.tf
  src/core/function_publiceventdispatcher.tf
Labels: status: applied

#374 [#IOCIT-225] change references to `fn-eucovidcert` for new user notification
  src/core/function_publiceventdispatcher.tf
Labels: status: apply in progress

#429 [#IOCIT-307] Create new function_lollipop
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
  src/core/function_lollipop.tf
Labels: env: prod, status: applied

#441 Move fn lollipop to citizenauth domain
  .github/workflows/prod_cd_citizen-auth.yml
  .github/workflows/prod_ci_citizen-auth.yml
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
  src/domains/citizen-auth-app/01_aks.tf
  src/domains/citizen-auth-app/01_monitor.tf
  src/domains/citizen-auth-app/01_network.tf
  src/domains/citizen-auth-app/04_function_lollipop.tf
  src/domains/citizen-auth-app/05_database.tf
  src/domains/citizen-auth-app/99_locals.tf
  src/domains/citizen-auth-app/99_variables.tf
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-app/env/weu-beta/terraform.tfvars
  src/domains/citizen-auth-app/env/weu-prod01/terraform.tfvars
  src/domains/citizen-auth-common/02_key_vault.tf
  src/domains/citizen-auth-common/README.md
Labels: status: applied

#438 [#SFEQS-1401] Add io-sign third party configuration
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_backend.tf
Labels: status: applied

#449 [#SFEQS-1401] Typo fix in io-sign baseUrl for third party messages
  src/core/app_backend.tf
Labels: status: apply in progress

#447 [#IOCIT-319] Add Lollipop API env vars to App Backend
  src/core/README.md
  src/core/app_backend.tf
Labels: status: applied

#437 [#IOCIT-293] Added lollipop-thumbprints collection to io-p-cosmos-api db
  src/domains/citizen-auth-app/04_function_lollipop.tf
  src/domains/citizen-auth-app/05_database.tf
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-common/01_network.tf
  src/domains/citizen-auth-common/05_database.tf
  src/domains/citizen-auth-common/README.md
Labels: status: apply in progress

#446 [#IOCIT-346] Add storage for lollipop assertions
  src/domains/citizen-auth-common/01_network.tf
  src/domains/citizen-auth-common/03_storage.tf
  src/domains/citizen-auth-common/README.md
Labels: status: applied

#435 [#IOCIT-335] Add APIM Lollipop Product and groups
  src/domains/citizen-auth-common/03_apim.tf
  src/domains/citizen-auth-common/99_locals.tf
  src/domains/citizen-auth-common/README.md
  src/domains/citizen-auth-common/api_product/io_lollipop/_base_policy.xml
Labels: status: applied

#456 breaking: DEVOPS-905 - Update function_lollipop to use terraform-azurerm-v3 v5.2.0 (function_app & function_app_slot module)
  src/domains/citizen-auth-app/04_function_lollipop.tf
  src/domains/citizen-auth-app/README.md
Labels: status: applied

#457 [#IOCIT-363] Add required ENVs var for Lollipop Queue Storage in io-backend
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
  src/domains/citizen-auth-common/03_storage.tf
  src/domains/citizen-auth-common/99_locals.tf
Labels: status: applied

#466 Remove old CGN fn3 subnet
  src/core/README.md
  src/core/cgn.tf
Labels: status: apply in progress

#467 enable Lollipop on `io-backend`
  src/core/app_backend.tf
Labels: status: apply in progress

#469 Fix Cosmos DB Name on FN Lollipop
  src/domains/citizen-auth-app/04_function_lollipop.tf
Labels: status: apply in progress
