Repository pagopa/io-infra, pull requests merged in 2023-06, with the labels that each got.

#583 Updated config for third parties
  src/core/app_backend.tf
Labels: status: applied

#586 disabled lollipop for io sign third party endpoints
  src/core/app_backend.tf
Labels: status: applied

#589 [#IOPID-257] Add new variable for LV beta testing
  src/core/README.md
  src/core/app_backend.tf
Labels: status: apply in progress

#592 [#PE-357] Swapped cgn merchant path to be coherent with documentation
  src/core/api/cgn/v1/_base_policy.xml
  src/core/api/cgn/v1/_swagger.json.tpl
  src/core/function_cgn_merchant.tf
Labels: status: applied

#590 [#IOPLT-16] Duplicate APIM endpioint configurations to target new APIM v2
  src/core/99_locals.tf
  src/core/README.md
  src/core/apim_v2_cgn.tf_
  src/core/apim_v2_cgn_operator_search.tf_
  src/core/apim_v2_io_admin_api.tf
  src/core/apim_v2_io_backend_v1.tf
  src/core/apim_v2_io_public_api.tf
  src/core/apim_v2_io_services_api.tf
Labels: status: apply in progress

#596 Reactivate CQRS trigger for Messages
  src/core/function_messages_cqrs.tf
Labels: status: apply in progress

#584 Add Grafana Test Dashboard to IO-Core
  src/core/README.md
  src/core/grafana.tf
Labels: status: partially applied
