Repository pagopa/io-infra, pull requests merged in 2024-09, with the labels that each got.

#1141 [EC-318] Delete all io-sign resources
  .github/workflows/sign_cd.yaml
  .github/workflows/sign_ci.yaml
  .github/workflows/static_analysis.yml
  src/domains/sign/.terraform.lock.hcl
  src/domains/sign/00_azuread.tf
  src/domains/sign/00_resource_groups.tf
  src/domains/sign/99_locals.tf
  src/domains/sign/99_main.tf
  src/domains/sign/99_variables.tf
  src/domains/sign/README.md
  src/domains/sign/api/backoffice/v1/base_policy.xml
  src/domains/sign/api/base_policy.xml
  src/domains/sign/api/issuer/v1/base_policy.xml
  src/domains/sign/api/issuer/v1/get_signer_by_fiscal_code_policy/policy.xml
  src/domains/sign/api/issuer/v1/openapi.yaml
  src/domains/sign/api/support/v1/base_policy.xml
  src/domains/sign/api/support/v1/openapi.yaml
  src/domains/sign/api_product/backoffice/_base_policy.xml
  src/domains/sign/api_product/sign/_base_policy.xml
  src/domains/sign/api_product/support/_base_policy.xml
  src/domains/sign/apim_v2.tf
  src/domains/sign/cosmos.tf
  src/domains/sign/cosmos_backoffice.tf
  src/domains/sign/cosmos_issuer.tf
  src/domains/sign/cosmos_user.tf
  src/domains/sign/dns.tf
  src/domains/sign/env/dev/backend.ini
  src/domains/sign/env/dev/backend.tfvars
  src/domains/sign/env/dev/terraform.tfvars
  src/domains/sign/env/prod/backend.ini
  src/domains/sign/env/prod/backend.tfvars
  src/domains/sign/env/prod/terraform.tfvars
  src/domains/sign/integration.tf
  src/domains/sign/io_sign_backoffice_app.tf
  src/domains/sign/io_sign_backoffice_func.tf
  src/domains/sign/io_sign_issuer_func.tf
  src/domains/sign/io_sign_support_func.tf
  src/domains/sign/io_sign_user_func.tf
  src/domains/sign/key_vault.tf
  src/domains/sign/landing.tf
  src/domains/sign/monitoring.tf
  src/domains/sign/network.tf
  src/domains/sign/storage.tf
  src/domains/sign/terraform.sh
Labels: automation, sign

#1147 [EC-414] Remove global config from Core
  src/common/prod/refactor.tf
  src/core/_modules/global/main.tf
  src/core/_modules/global/modules/dns/dns_firmaconio_selfcare_pagopa_it.tf
  src/core/_modules/global/modules/dns/dns_io_italia_it.tf
  src/core/_modules/global/modules/dns/dns_io_pagopa_it.tf
  src/core/_modules/global/modules/dns/dns_io_selfcare_pagopa_it.tf
  src/core/_modules/global/modules/dns/dns_ioweb_it.tf
  src/core/_modules/global/modules/dns/outputs.tf
  src/core/_modules/global/modules/dns/private_dns_zone_links.tf
  src/core/_modules/global/modules/dns/private_dns_zones.tf
  src/core/_modules/global/modules/dns/variables.tf
  src/core/_modules/global/outputs.tf
  src/core/_modules/global/variables.tf
  src/core/prod/README.md
  src/core/prod/data.tf
  src/core/prod/global.tf
  src/core/prod/outputs.tf
  src/core/prod/refactor.tf
  src/core/prod/removed.tf
Labels: core

#1145 [IOCOM-1636] Switched io-backend to apim API url
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
  src/core/env/prod/terraform.tfvars
Labels: core

#1101 [EC-372] Create multiple NAT Gateways to reach zone redundancy in Italy North
  src/core/_modules/networking/nat_gateway.tf
  src/core/_modules/networking/variables.tf
  src/core/prod/italynorth.tf
  src/core/prod/westeurope.tf
Labels: core

#1148 [EC-357] Migrate core monitoring folder to new TF config
  src/common/_modules/global/modules/dns/outputs.tf
  src/common/_modules/monitoring/ag.tf
  src/common/_modules/monitoring/appi.tf
  src/common/_modules/monitoring/data.tf
  src/common/_modules/monitoring/locals.tf
  src/common/_modules/monitoring/log.tf
  src/common/_modules/monitoring/variables.tf
  src/common/_modules/monitoring/web_tests.tf
  src/common/prod/README.md
  src/common/prod/import.tf
  src/common/prod/westeurope.tf
  src/core/prod/refactor.tf
  src/core/prod/removed.tf
Labels: core

#1150 [EC-357] Remove monitoring resources from legacy Core TF config
  src/core/README.md
  src/core/apim_v2.tf
  src/core/app_backend.tf
  src/core/appgateway.tf
  src/core/data.tf
  src/core/keyvault.tf
  src/core/monitor.tf
  src/core/removed.tf
Labels: core

#1142 [#IOPID-2173] Add routing `metadata`endpoint to Session Manager
  src/core/appgateway.tf
Labels: core

#1153 [EC-410] Increased CPU and Memory of GitHub Runner
  src/github-runner/container_app_jobs.tf
Labels: github-runner

#1152 [EC-357] Move KV policies to Core module
  src/core/99_outputs.tf
  src/core/README.md
  src/core/_modules/key_vaults/kv.tf
  src/core/_modules/key_vaults/kv_common.tf
  src/core/_modules/key_vaults/variables.tf
  src/core/data.tf
  src/core/keyvault_access_policy.tf
  src/core/prod/README.md
  src/core/prod/data.tf
  src/core/prod/import.tf
  src/core/prod/westeurope.tf
  src/core/remove.tf
Labels: core

#1154 [EC-357] Delete migration files from Core configs
  src/core/prod/import.tf
  src/core/remove.tf
Labels: core

#1149 [EC-357] - Move application gateway from core to modules
  src/common/_modules/application_gateway/data.tf
  src/common/_modules/application_gateway/firewall.tf
  src/common/_modules/application_gateway/locals.tf
  src/common/_modules/application_gateway/main.tf
  src/common/_modules/application_gateway/networking.tf
  src/common/_modules/application_gateway/outputs.tf
  src/common/_modules/application_gateway/rbac.tf
  src/common/_modules/application_gateway/variables.tf
  src/common/_modules/event_hubs/data.tf
  src/common/_modules/event_hubs/main.tf
  src/common/_modules/event_hubs/variables.tf
  src/common/_modules/global/modules/dns/outputs.tf
  src/common/_modules/monitoring/outputs.tf
  src/common/prod/.terraform.lock.hcl
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/global.tf
  src/common/prod/import.tf
  src/common/prod/locals.tf
  src/common/prod/westeurope.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
  src/core/env/prod/terraform.tfvars
  src/core/firmaconio.tf
  src/core/refactor.tf
Labels: core

#1158 [EC-357] - Removed blocks deleted
  src/core/refactor.tf
Labels: core

#1159 [EC-357] - Static analysis after application gateway being moved
  src/common/_modules/application_gateway/main.tf
  src/common/_modules/application_gateway/outputs.tf
  src/common/prod/.terraform.lock.hcl
  src/core/.terraform.lock.hcl
Labels: core

#1161 [CES-15] Migrate APIM to Common config
  src/common/_modules/apim/data.tf
  src/common/_modules/apim/locals.tf
  src/common/_modules/apim/main.tf
  src/common/_modules/apim/networking.tf
  src/common/_modules/apim/rbac.tf
  src/common/_modules/apim/subscriptions.tf
  src/common/_modules/apim/users.tf
  src/common/_modules/apim/variables.tf
  src/common/_modules/monitoring/outputs.tf
  src/common/prod/README.md
  src/common/prod/westeurope.tf
  src/core/README.md
  src/core/apim_v2.tf
  src/core/apim_v2_io_admin_api.tf
  src/core/apim_v2_io_backend_v1.tf
  src/core/apim_v2_io_public_api.tf
  src/core/apim_v2_io_services_api.tf
  src/core/app_backend.tf
  src/core/data.tf
Labels: core

#1163 [CES-19] Azure DevOps Agent infra moved to core modules
  src/core/.terraform.lock.hcl
  src/core/README.md
  src/core/_modules/azure_devops_agent/locals.tf
  src/core/_modules/azure_devops_agent/main.tf
  src/core/_modules/azure_devops_agent/outputs.tf
  src/core/_modules/azure_devops_agent/variables.tf
  src/core/app_backend.tf
  src/core/azure_devops_agent.tf
  src/core/data.tf
  src/core/prod/.terraform.lock.hcl
  src/core/prod/README.md
  src/core/prod/locals.tf
  src/core/prod/westeurope.tf
Labels: core

#1165 [CES-24] Migration of Functions-Admin APIM Policies
  src/core/99_outputs.tf
  src/core/api/io_admin/v1/_swagger.json.tpl
  src/core/api/io_admin/v1/policy.xml
  src/core/api/io_admin/v1/temp_mock_response_500_policy/policy.xml
  src/core/api_product/io_admin/_base_policy.xml
  src/core/apim_v2_io_admin_api.tf
  src/core/removed.tf
Labels: core

#1166 [CES-17] - Moved assets cdn to common modules
  src/common/_modules/assets_cdn/cdn_endpoints.tf
  src/common/_modules/assets_cdn/custom_domains.tf
  src/common/_modules/assets_cdn/data.tf
  src/common/_modules/assets_cdn/locals.tf
  src/common/_modules/assets_cdn/main.tf
  src/common/_modules/assets_cdn/variables.tf
  src/common/_modules/global/modules/dns/outputs.tf
  src/common/_modules/global/modules/dns/variables.tf
  src/common/prod/.terraform.lock.hcl
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/westeurope.tf
  src/core/README.md
  src/core/assets_cdn.tf
  src/core/data.tf
  src/core/removed.tf
Labels: core

#1167 [CES-20]: Moving grafana dashboard to io-service-management
  src/core/README.md
  src/core/grafana.tf
Labels: no apply, no merge, core

#1162 [#IOCOM-1636] Point directly ITN functions
  src/core/app_backend.tf
Labels: core

#1160 [IOPLT-662] Add ELT Storage Account in ItalyNorth region
  .github/workflows/elt_cd.yaml
  .github/workflows/elt_ci.yaml
  src/domains/elt/_modules/function_apps/function_app_elt.tf
  src/domains/elt/_modules/function_apps/variables.tf
  src/domains/elt/_modules/storage_accounts/outputs.tf
  src/domains/elt/_modules/storage_accounts/storage_account_elt.tf
  src/domains/elt/_modules/storage_accounts/variables.tf
  src/domains/elt/prod/.terraform.lock.hcl
  src/domains/elt/prod/README.md
  src/domains/elt/prod/locals.tf
  src/domains/elt/prod/main.tf
  src/domains/elt/prod/outputs.tf
Labels: automation

#1171 [CES-26] - Moved apim public apis policies to stream repository
  src/core/README.md
  src/core/api/io_public/v1/_swagger.json.tpl
  src/core/api/io_public/v1/policy.xml
  src/core/api_product/io_public/_base_policy.xml
  src/core/apim_v2_io_public_api.tf
Labels: no apply, no merge, core

#1168 [CES-22] Remove iopstapi from Core definition
  src/core/README.md
  src/core/data.tf
  src/core/removed.tf
  src/core/storage_api.tf
Labels: core

#1172 [CES-23] - Move locked profiles storage to citizen-auth-app domain
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
  src/core/storage_locked_profiles.tf
  src/domains/citizen-auth-app/.terraform.lock.hcl
  src/domains/citizen-auth-app/06_storage.tf
  src/domains/citizen-auth-app/08_session_manager.tf
  src/domains/citizen-auth-app/09_storage_locked_profiles.tf
  src/domains/citizen-auth-app/README.md
Labels: core

#1173 [CES-103] - Moved cosmos-api to common folder
  .github/workflows/cosmos_api_cd.yaml
  .github/workflows/cosmos_api_ci.yaml
  .github/workflows/static_analysis.yml
  src/common/_modules/cosmos_api/cosmos_account.tf
  src/common/_modules/cosmos_api/cosmos_containers.tf
  src/common/_modules/cosmos_api/cosmos_database.tf
  src/common/_modules/cosmos_api/locals.tf
  src/common/_modules/cosmos_api/networking.tf
  src/common/_modules/cosmos_api/variables.tf
  src/common/_modules/global/modules/dns/outputs.tf
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/locals.tf
  src/common/prod/westeurope.tf
  src/core/removed.tf
  src/core/storage_locked_profiles.tf
  src/cosmos-api/prod/.terraform.lock.hcl
  src/cosmos-api/prod/README.md
  src/cosmos-api/prod/cosmos_account.tf
  src/cosmos-api/prod/data.tf
  src/cosmos-api/prod/main.tf
Labels: core, automation

#1174 [CES-28] Remove Notification Hubs Terraform code
  .github/workflows/notification_hubs_cd.yaml
  .github/workflows/notification_hubs_ci.yaml
  src/notification-hubs/prod/.terraform.lock.hcl
  src/notification-hubs/prod/README.md
  src/notification-hubs/prod/data.tf
  src/notification-hubs/prod/locals.tf
  src/notification-hubs/prod/main.tf
  src/notification-hubs/prod/notification_hub_ntfns_common.tf
  src/notification-hubs/prod/notification_hub_ntfns_common_partition_1.tf
  src/notification-hubs/prod/notification_hub_ntfns_common_partition_2.tf
  src/notification-hubs/prod/notification_hub_ntfns_common_partition_3.tf
  src/notification-hubs/prod/notification_hub_ntfns_common_partition_4.tf
  src/notification-hubs/prod/notification_hub_ntfns_sandbox.tf
  src/notification-hubs/prod/notification_hub_ntfns_sandbox_partition_1.tf
  src/notification-hubs/prod/outputs.tf
Labels: automation

#1178 [CES-30] Move Redis-Common in Common TF config
  src/common/_modules/redis/locals.tf
  src/common/_modules/redis/main.tf
  src/common/_modules/redis/storage_account.tf
  src/common/_modules/redis/subnet.tf
  src/common/_modules/redis/variables.tf
  src/common/prod/.terraform.lock.hcl
  src/common/prod/README.md
  src/common/prod/main.tf
  src/common/prod/westeurope.tf
  src/core/README.md
  src/core/app_backend.tf
  src/core/redis.tf
  src/redis-common/prod/.terraform.lock.hcl
  src/redis-common/prod/main.tf
Labels: core

#1176 [IOPLT-703] Add reference to APIM key and add new variables
  src/.template-app/README.md
  src/.template-common/README.md
  src/aks-platform/README.md
  src/core/README.md
  src/core/app_backend.tf
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-common/README.md
  src/domains/elk/README.md
  src/domains/ioweb-app/README.md
  src/domains/ioweb-common/README.md
  src/domains/messages-app/README.md
  src/domains/messages-common/README.md
  src/domains/payments-app/README.md
  src/domains/payments-common/README.md
  src/domains/profile-app/README.md
  src/domains/profile-common/README.md
  src/github-runner/README.md
  src/packer/README.md
Labels: status: applied, core, aks-platform, github-runner, elk, packer

#1184 fix: restore app-messages url
  src/.template-app/README.md
  src/.template-common/README.md
  src/aks-platform/README.md
  src/core/README.md
  src/core/app_backend.tf
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-common/README.md
  src/domains/elk/README.md
  src/domains/ioweb-app/README.md
  src/domains/ioweb-common/README.md
  src/domains/messages-app/README.md
  src/domains/messages-common/README.md
  src/domains/payments-app/README.md
  src/domains/payments-common/README.md
  src/domains/profile-app/README.md
  src/domains/profile-common/README.md
  src/github-runner/README.md
  src/packer/README.md
Labels: core, aks-platform, github-runner, elk, packer

#1185 add apikey for backendli
  src/core/app_backend.tf
Labels: core

#1177 [CES-16] - Move appbackend to modules
  src/common/_modules/apim/outputs.tf
  src/common/_modules/app_backend/app_settings.tf
  src/common/_modules/app_backend/autoscale.tf
  src/common/_modules/app_backend/data.tf
  src/common/_modules/app_backend/data_kv.tf
  src/common/_modules/app_backend/locals.tf
  src/common/_modules/app_backend/main.tf
  src/common/_modules/app_backend/monitoring.tf
  src/common/_modules/app_backend/networking.tf
  src/common/_modules/app_backend/outputs.tf
  src/common/_modules/app_backend/secrets.tf
  src/common/_modules/app_backend/test_users.tf
  src/common/_modules/app_backend/variables.tf
  src/common/_modules/application_gateway/main.tf
  src/common/_modules/application_gateway/outputs.tf
  src/common/_modules/application_gateway/variables.tf
  src/common/_modules/monitoring/locals.tf
  src/common/_modules/monitoring/outputs.tf
  src/common/_modules/redis/outputs.tf
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/global.tf
  src/common/prod/locals.tf
  src/common/prod/main.tf
  src/common/prod/westeurope.tf
  src/core/.terraform.lock.hcl
  src/core/README.md
  src/core/_modules/networking/outputs.tf
  src/core/_modules/networking/subnet_cidr.tf
  src/core/_modules/networking/vnet_common.tf
  src/core/app_backend.tf
  src/core/data.tf
  src/core/prod/README.md
  src/core/prod/outputs.tf
  src/core/prod/tfmodules.lock.json
  src/domains/tests/test_users.tf
Labels: core

#1191 Make AppBackend point to trial system apim instead of appgw
  src/common/_modules/app_backend/app_settings.tf
  src/common/_modules/app_backend/data_kv.tf
  src/common/prod/.terraform.lock.hcl
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/locals.tf
  src/common/prod/main.tf
  src/core/README.md
Labels: core

#1189 [#IOPID-2291] changed scaling rules of lollipop-fn
  src/domains/citizen-auth-app/04_function_lollipop.tf
  src/domains/citizen-auth-app/env/weu-prod01/terraform.tfvars
Labels: status: apply in progress, status: partially applied

#1187 [#IOPID-2269] Add new Redis C3 to itn for LV
  .github/workflows/static_analysis.yml
  src/domains/citizen-auth-common/.terraform.lock.hcl
  src/domains/citizen-auth-common/01_network.tf
  src/domains/citizen-auth-common/02_key_vault.tf
  src/domains/citizen-auth-common/03_apim_v2.tf
  src/domains/citizen-auth-common/03_storage.tf
  src/domains/citizen-auth-common/04_redis_common.tf
  src/domains/citizen-auth-common/05_database.tf
  src/domains/citizen-auth-common/99_locals.tf
  src/domains/citizen-auth-common/99_variables.tf
  src/domains/citizen-auth-common/README.md
  src/domains/citizen-auth-common/env/prod/terraform.tfvars
Labels: automation

#1203 [CES-21] Refactoring resource groups in Common configuration
  src/common/_modules/app_backend/autoscale.tf
  src/common/_modules/app_backend/data.tf
  src/common/_modules/app_backend/main.tf
  src/common/_modules/app_backend/monitoring.tf
  src/common/_modules/app_backend/networking.tf
  src/common/_modules/app_backend/variables.tf
  src/common/_modules/application_gateway/firewall.tf
  src/common/_modules/application_gateway/main.tf
  src/common/_modules/application_gateway/networking.tf
  src/common/_modules/application_gateway/rbac.tf
  src/common/_modules/application_gateway/variables.tf
  src/common/_modules/assets_cdn/cdn_endpoints.tf
  src/common/_modules/assets_cdn/custom_domains.tf
  src/common/_modules/assets_cdn/locals.tf
  src/common/_modules/assets_cdn/main.tf
  src/common/_modules/assets_cdn/variables.tf
  src/common/_modules/cosmos_api/cosmos_account.tf
  src/common/_modules/cosmos_api/variables.tf
  src/common/_modules/event_hubs/data.tf
  src/common/_modules/event_hubs/main.tf
  src/common/_modules/event_hubs/variables.tf
  src/common/_modules/redis/main.tf
  src/common/_modules/redis/storage_account.tf
  src/common/_modules/redis/variables.tf
  src/common/prod/README.md
  src/common/prod/italynorth.tf
  src/common/prod/removed.tf
  src/common/prod/westeurope.tf
  src/core/prod/README.md
  src/core/prod/import.tf
  src/core/prod/outputs.tf
  src/core/prod/resource_groups.tf
  src/core/prod/tfmodules.lock.json
  src/core/removed.tf
Labels: core
