Repository pagopa/io-infra, pull requests merged in 2024-05, with the labels that each got.

#973 [#IOPID-1821] added required env variables to session-manager
  src/domains/citizen-auth-app/08_session_manager.tf
  src/domains/citizen-auth-app/README.md
Labels: status: applied

#978 fix: datasource fetching resources previously migrated from itn to weu
  src/core/function_app.tf
Labels: core

#976 [#IOPID-1841] Add Fims and Lollipop env variables to session-manager
  .github/workflows/prod_cd_citizen-auth.yml
  .github/workflows/prod_ci_citizen-auth.yml
  .github/workflows/prod_drift_citizen-auth.yml
  CODEOWNERS
  src/domains/citizen-auth-app/07_function_fast_login.tf
  src/domains/citizen-auth-app/08_session_manager.tf
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-app/env/weu-beta/backend.ini
  src/domains/citizen-auth-app/env/weu-beta/backend.tfvars
  src/domains/citizen-auth-app/env/weu-beta/terraform.tfvars
Labels: automation

#980 [IOCOM-1375] chore: added new event hubs to dns names
  src/aks-platform/05_dns.tf
Labels: aks-platform

#984 [EC-289] Fix Citizen Auth CI/CD workflows
  .github/workflows/prod_cd_citizen-auth.yml
  .github/workflows/prod_ci_citizen-auth.yml
Labels: automation

#985 [#IOPAE-1086] Add config for io-services-app-backend call from io-backend
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
Labels: core

#988 [EC-290] Add Azure NAT Gateway in Italy North region
  src/core/_modules/networking/nat_gateway.tf
Labels: core

#990 [EC-206] - Move functions from core to specific domain
  .github/workflows/functions_cd.yml
  .github/workflows/functions_ci.yml
  src/core/99_locals.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_backend.tf
  src/core/assets_cdn.tf
  src/core/data.tf
  src/core/function_elt.tf
  src/domains/functions/.terraform.lock.hcl
  src/domains/functions/data.tf
  src/domains/functions/env/prod/backend.ini
  src/domains/functions/env/prod/backend.tfvars
  src/domains/functions/env/prod/terraform.tfvars
  src/domains/functions/function_admin.tf
  src/domains/functions/function_app.tf
  src/domains/functions/function_app_async.tf
  src/domains/functions/function_assets_cdn.tf
  src/domains/functions/function_public.tf
  src/domains/functions/function_services.tf
  src/domains/functions/function_shared.tf
  src/domains/functions/locals.tf
  src/domains/functions/providers.tf
  src/domains/functions/terraform.sh
  src/domains/functions/tests.tf
  src/domains/functions/variables.tf
Labels: core, automation

#991 [#IOPLT-526] Add Trial system backend env variables
  src/core/README.md
  src/core/app_backend.tf
Labels: status: applied, core

#994 [EC-302] Fix static analysis
  .github/workflows/static_analysis.yml
  src/domains/functions/main.tf
Labels: automation

#995 [EC-206] Fix CD of functions domain failing
  .github/workflows/functions_cd.yml
Labels: automation

#981 [IOPLT-488] Import io-p-cosmos-api in Terraform
  .github/workflows/cosmos_api_cd.yaml
  .github/workflows/cosmos_api_ci.yaml
  .github/workflows/static_analysis.yml
  src/cosmos-api/prod/.terraform.lock.hcl
  src/cosmos-api/prod/README.md
  src/cosmos-api/prod/cosmos_account.tf
  src/cosmos-api/prod/cosmos_containers.tf
  src/cosmos-api/prod/cosmos_database.tf
  src/cosmos-api/prod/data.tf
  src/cosmos-api/prod/locals.tf
  src/cosmos-api/prod/main.tf
  src/cosmos-api/prod/networking.tf
Labels: automation

#1002 [EC-315] Remove ItalyNorth folder from core
  .github/workflows/core_code_review.yaml
  src/core/prod/.terraform.lock.hcl
  src/core/prod/README.md
  src/core/prod/locals.tf
  src/core/prod/main.tf
  src/core/prod/outputs.tf
Labels: core, automation

#1001 [SIW-1167] Add io wallet env variables
  src/core/README.md
  src/core/app_backend.tf
Labels: status: applied, core

#1004 [EC-316] Apply standards to manage federated managed identities
  .github/workflows/static_analysis.yml
  .identity/.terraform.lock.hcl
  .identity/04_github_identity.tf
  .identity/99_locals.tf
  .identity/99_main.tf
  .identity/99_outputs.tf
  .identity/99_variables.tf
  .identity/README.md
  .identity/env/prod/backend.ini
  .identity/env/prod/backend.tfvars
  .identity/env/prod/terraform.tfvars
  .identity/terraform.sh
  src/aks-platform/05_dns.tf
  src/identity/prod/.terraform.lock.hcl
  src/identity/prod/README.md
  src/identity/prod/locals.tf
  src/identity/prod/main.tf
Labels: automation, aks-platform
