Repository pagopa/io-infra, pull requests merged in 2024-04, with the labels that each got.

#936 [EC-242] Remove evt dispatcher functions from core
  src/core/99_variables.tf
  src/core/README.md
  src/core/backend_messages.tf
  src/core/env/prod/terraform.tfvars
  src/core/function_publiceventdispatcher.tf
Labels: core

#937 [EC-243] Move Continua services to their own configuration
  src/core/99_variables.tf
  src/core/README.md
  src/core/appgateway.tf
  src/core/continua_dynamiclink.tf
  src/core/data.tf
  src/core/env/prod/terraform.tfvars
  src/domains/continua/_modules/app_services/app_service_continua.tf
  src/domains/continua/_modules/app_services/app_service_plan_continua.tf
  src/domains/continua/_modules/app_services/autoscalers.tf
  src/domains/continua/_modules/app_services/data.tf
  src/domains/continua/_modules/app_services/locals.tf
  src/domains/continua/_modules/app_services/main.tf
  src/domains/continua/_modules/app_services/outputs.tf
  src/domains/continua/_modules/app_services/variables.tf
  src/domains/continua/_modules/networking/data.tf
  src/domains/continua/_modules/networking/locals.tf
  src/domains/continua/_modules/networking/main.tf
  src/domains/continua/_modules/networking/outputs.tf
  src/domains/continua/_modules/networking/subnet_continua.tf
  src/domains/continua/_modules/networking/variables.tf
  src/domains/continua/prod/westeurope/.terraform.lock.hcl
  src/domains/continua/prod/westeurope/README.md
  src/domains/continua/prod/westeurope/locals.tf
  src/domains/continua/prod/westeurope/main.tf
  src/domains/continua/prod/westeurope/outputs.tf
Labels: core

#938 [EC-243] Add workflows for Continua infrastructure
  .github/workflows/continua_cd.yaml
  .github/workflows/continua_ci.yaml
Labels: automation

#940 [EC-246] Move ELT resources to their own configuration
  .github/workflows/elt_cd.yaml
  .github/workflows/elt_ci.yaml
  src/core/README.md
  src/core/data.tf
  src/core/events.tf
  src/core/function_elt.tf
  src/domains/elt/_modules/function_apps/data.tf
  src/domains/elt/_modules/function_apps/function_app_elt.tf
  src/domains/elt/_modules/function_apps/locals.tf
  src/domains/elt/_modules/function_apps/main.tf
  src/domains/elt/_modules/function_apps/outputs.tf
  src/domains/elt/_modules/function_apps/tests.tf
  src/domains/elt/_modules/function_apps/variables.tf
  src/domains/elt/_modules/networking/data.tf
  src/domains/elt/_modules/networking/locals.tf
  src/domains/elt/_modules/networking/main.tf
  src/domains/elt/_modules/networking/outputs.tf
  src/domains/elt/_modules/networking/subnet_elt.tf
  src/domains/elt/_modules/networking/variables.tf
  src/domains/elt/_modules/storage_accounts/main.tf
  src/domains/elt/_modules/storage_accounts/outputs.tf
  src/domains/elt/_modules/storage_accounts/storage_account_elt.tf
  src/domains/elt/_modules/storage_accounts/storage_tables.tf
  src/domains/elt/_modules/storage_accounts/variables.tf
  src/domains/elt/prod/westeurope/.terraform.lock.hcl
  src/domains/elt/prod/westeurope/README.md
  src/domains/elt/prod/westeurope/locals.tf
  src/domains/elt/prod/westeurope/main.tf
  src/domains/elt/prod/westeurope/outputs.tf
Labels: core, automation

#943 [EC-259] Fix Azure authentication in workflows
  .github/workflows/ioweb_prod_cd.yml
  .github/workflows/ioweb_prod_ci.yml
  .github/workflows/ioweb_prod_drift.yml
  .github/workflows/prod_cd_citizen-auth.yml
  .github/workflows/prod_ci_citizen-auth.yml
  .github/workflows/prod_drift_citizen-auth.yml
Labels: automation

#945 [EC-251] Remove KeyVault access policies on deleted service principals
  src/core/README.md
  src/core/keyvault_access_policy.tf
  src/domains/citizen-auth-common/02_key_vault.tf
  src/domains/citizen-auth-common/README.md
  src/domains/ioweb-common/02_security.tf
  src/domains/ioweb-common/README.md
Labels: core

#946 Increase io-be instances
  src/core/app_backend.tf
  src/core/env/prod/terraform.tfvars
  src/core/function_app.tf
  src/core/function_app_async.tf
  src/domains/citizen-auth-app/04_function_lollipop.tf
  src/domains/citizen-auth-app/07_function_fast_login.tf
  src/domains/citizen-auth-app/env/weu-prod01/terraform.tfvars
  src/domains/ioweb-app/06_function_ioweb_profile.tf
  src/domains/ioweb-app/env/weu-prod01/terraform.tfvars
  src/domains/messages-app/10_function_messages.tf
Labels: core

#944 [EC-260] Fundamental Terraform Core setup for Italy North region
  .identity/03_github_environment_cd.tf
  .identity/03_github_environment_ci.tf
  .identity/README.md
  src/core/README.md
  src/core/_modules/networking/data.tf
  src/core/_modules/networking/locals.tf
  src/core/_modules/networking/outputs.tf
  src/core/_modules/networking/private_dns_zone_itn_common.tf
  src/core/_modules/networking/subnet_cidr.tf
  src/core/_modules/networking/variables.tf
  src/core/_modules/networking/vnet_common.tf
  src/core/_modules/networking/vnet_peering_itn_common_to_weu_beta.tf
  src/core/_modules/networking/vnet_peering_itn_common_to_weu_prod.tf
  src/core/_modules/networking/vnet_peering_weu_to_itn_common.tf
  src/core/network.tf
  src/core/private_dns_zones.tf
  src/core/prod/italynorth/.terraform.lock.hcl
  src/core/prod/italynorth/README.md
  src/core/prod/italynorth/locals.tf
  src/core/prod/italynorth/main.tf
  src/core/prod/italynorth/outputs.tf
Labels: core

#949 [EC-260] Add CI workflow for ItalyNorth core infra
  .github/workflows/core_code_review.yaml
Labels: automation

#953 EC-234 - Added ai search private dns zone
  src/core/README.md
  src/core/private_dns_zones.tf
Labels: core

#954 EC-234 - Added ai search private dns zone network link
  src/core/_modules/networking/data.tf
  src/core/_modules/networking/private_dns_zone_itn_common.tf
Labels: core

#964 EC-234 - Attach AI search private dns zone to the weu common VNet
  src/core/README.md
  src/core/private_dns_zones.tf
Labels: core

#968 [EC-274] Rename ItalyNorth resources
  src/core/_modules/networking/snet_private_endpoints.tf
  src/core/_modules/networking/vnet_common.tf
  src/core/_modules/networking/vnet_peering_itn_common_to_weu_beta.tf
  src/core/_modules/networking/vnet_peering_itn_common_to_weu_prod.tf
  src/core/_modules/networking/vnet_peering_weu_to_itn_common.tf
  src/core/prod/italynorth/.terraform.lock.hcl
  src/core/prod/italynorth/README.md
  src/core/prod/italynorth/main.tf
  src/domains/citizen-auth-app/.terraform.lock.hcl
  src/domains/citizen-auth-app/01_network.tf
  src/domains/citizen-auth-app/08_session_manager.tf
  src/domains/citizen-auth-app/README.md
Labels: core

#969 Upgrade az login GitHub Action
  .github/workflows/call_code_review.yaml
  .github/workflows/call_release.yaml
  .github/workflows/gh_runner-scheduler.yml
  .github/workflows/ioweb_prod_cd.yml
  .github/workflows/prod_cd_citizen-auth.yml
Labels: automation

#970 [#IOPID-1800] session-manager updates
  src/core/README.md
  src/core/function_app.tf
  src/core/storage_api.tf
  src/domains/citizen-auth-app/08_session_manager.tf
  src/domains/citizen-auth-app/README.md
Labels: status: applied, core
