Repository pagopa/io-infra, pull requests merged in 2024-03, with the labels that each got.

#904 [#IOPLT-328] Add Italy North VNET + peering
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
  src/core/network.tf
  src/core/private_dns_zones.tf
Labels: status: applied

#913 [EC-207] Add workflows for CGN workspace
  .github/labeler.yml
  .github/workflows/call_code_review.yaml
  .github/workflows/call_release.yaml
  .github/workflows/cgn_cd.yaml
  .github/workflows/cgn_ci.yaml
  .github/workflows/pr_labeler.yaml
Labels: automation

#914 [EC-216] Move io-selfcare resource groups in their own configuration
  .github/labeler.yml
  src/core/README.md
  src/core/devportal.tf
  src/core/function_devportal_service_data.tf
  src/core/function_subscription_migrations.tf
  src/core/selfcare.tf
  src/domains/selfcare/_modules/resource_groups/main.tf
  src/domains/selfcare/_modules/resource_groups/outputs.tf
  src/domains/selfcare/_modules/resource_groups/resource_group_selfcare_be.tf
  src/domains/selfcare/_modules/resource_groups/resource_group_selfcare_fe.tf
  src/domains/selfcare/_modules/resource_groups/variables.tf
  src/domains/selfcare/prod/westeurope/.terraform.lock.hcl
  src/domains/selfcare/prod/westeurope/README.md
  src/domains/selfcare/prod/westeurope/locals.tf
  src/domains/selfcare/prod/westeurope/main.tf
  src/domains/selfcare/prod/westeurope/outputs.tf
  src/domains/selfcare/prod/westeurope/resource_groups.tf
Labels: core, automation

#915 [EC-216] Move io selfcare network-related resources to their own configuration
  src/core/README.md
  src/core/devportal.tf
  src/core/function_devportal_service_data.tf
  src/core/function_subscription_migrations.tf
  src/core/selfcare.tf
  src/domains/selfcare/_modules/networking/data.tf
  src/domains/selfcare/_modules/networking/main.tf
  src/domains/selfcare/_modules/networking/outputs.tf
  src/domains/selfcare/_modules/networking/subnet_selfcare_be_common.tf
  src/domains/selfcare/_modules/networking/variables.tf
  src/domains/selfcare/prod/westeurope/.terraform.lock.hcl
  src/domains/selfcare/prod/westeurope/README.md
  src/domains/selfcare/prod/westeurope/networking.tf
Labels: core

#916 [EC-216] Move io selfcare CDN resources to their own configuration
  src/core/README.md
  src/core/monitor.tf
  src/core/selfcare.tf
  src/domains/selfcare/_modules/cdn/cdn_selfcare.tf
  src/domains/selfcare/_modules/cdn/data.tf
  src/domains/selfcare/_modules/cdn/main.tf
  src/domains/selfcare/_modules/cdn/outputs.tf
  src/domains/selfcare/_modules/cdn/variables.tf
  src/domains/selfcare/prod/westeurope/.terraform.lock.hcl
  src/domains/selfcare/prod/westeurope/README.md
  src/domains/selfcare/prod/westeurope/cdn.tf
Labels: core

#917 [EC-216] Move devportal and subs migration to their own configuration
  src/core/README.md
  src/core/appgateway.tf
  src/core/data.tf
  src/core/devportal.tf
  src/core/function_devportal_service_data.tf
  src/core/function_subscription_migrations.tf
  src/core/selfcare.tf
  src/domains/selfcare/_modules/app_services/app_service_app_devportal_be.tf
  src/domains/selfcare/_modules/app_services/app_service_plan_selfcare_be_common.tf
  src/domains/selfcare/_modules/app_services/app_service_selfcare_be.tf
  src/domains/selfcare/_modules/app_services/autoscalers.tf
  src/domains/selfcare/_modules/app_services/data.tf
  src/domains/selfcare/_modules/app_services/function_devportal_service_data.tf
  src/domains/selfcare/_modules/app_services/function_subscription_migrations.tf
  src/domains/selfcare/_modules/app_services/jwt_keys_selfcare.tf
  src/domains/selfcare/_modules/app_services/locals.tf
  src/domains/selfcare/_modules/app_services/main.tf
  src/domains/selfcare/_modules/app_services/outputs.tf
  src/domains/selfcare/_modules/app_services/variables.tf
  src/domains/selfcare/_modules/networking/data.tf
  src/domains/selfcare/_modules/networking/outputs.tf
  src/domains/selfcare/_modules/networking/subnet_developer_portal.tf
  src/domains/selfcare/_modules/networking/subnet_selfcare_be_common.tf
  src/domains/selfcare/_modules/networking/variables.tf
  src/domains/selfcare/_modules/postgresql/data.tf
  src/domains/selfcare/_modules/postgresql/locals.tf
  src/domains/selfcare/_modules/postgresql/main.tf
  src/domains/selfcare/_modules/postgresql/outputs.tf
  src/domains/selfcare/_modules/postgresql/postgres_flexible_server_dev_portal.tf
  src/domains/selfcare/_modules/postgresql/postgres_server_subsmigrations.tf
  src/domains/selfcare/_modules/postgresql/variables.tf
  src/domains/selfcare/prod/westeurope/.terraform.lock.hcl
  src/domains/selfcare/prod/westeurope/README.md
  src/domains/selfcare/prod/westeurope/app_services.tf
  src/domains/selfcare/prod/westeurope/locals.tf
  src/domains/selfcare/prod/westeurope/networking.tf
  src/domains/selfcare/prod/westeurope/postgresql.tf
Labels: core

#918 [EC-216] Add CI/CD workflows for selfcare domain
  .github/workflows/ioselfcare_cd.yaml
  .github/workflows/ioselfcare_ci.yaml
  .github/workflows/static_analysis.yml
Labels: automation

#919 [EC-217] Move eucovidcert resource group to their own configuration
  .github/labeler.yml
  .github/workflows/eucovidcert_cd.yaml
  .github/workflows/eucovidcert_ci.yaml
  src/core/README.md
  src/core/function_eucovidcert.tf
  src/domains/eucovidcert/_modules/resource_groups/main.tf
  src/domains/eucovidcert/_modules/resource_groups/outputs.tf
  src/domains/eucovidcert/_modules/resource_groups/resource_group_eucovidcert.tf
  src/domains/eucovidcert/_modules/resource_groups/variables.tf
  src/domains/eucovidcert/prod/westeurope/.terraform.lock.hcl
  src/domains/eucovidcert/prod/westeurope/README.md
  src/domains/eucovidcert/prod/westeurope/locals.tf
  src/domains/eucovidcert/prod/westeurope/main.tf
  src/domains/eucovidcert/prod/westeurope/outputs.tf
  src/domains/eucovidcert/prod/westeurope/resource_groups.tf
Labels: core, automation

#920 [EC-217] Move EUCovidCert storage accounts to their own module
  src/core/README.md
  src/core/function_eucovidcert.tf
  src/domains/eucovidcert/_modules/storage_accounts/main.tf
  src/domains/eucovidcert/_modules/storage_accounts/outputs.tf
  src/domains/eucovidcert/_modules/storage_accounts/storage_account_eucovidcert.tf
  src/domains/eucovidcert/_modules/storage_accounts/variables.tf
  src/domains/eucovidcert/prod/westeurope/.terraform.lock.hcl
  src/domains/eucovidcert/prod/westeurope/README.md
  src/domains/eucovidcert/prod/westeurope/storage_accounts.tf
Labels: core

#921 [EC-217] Move EUCovidCert resources in their own module
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
  src/core/function_eucovidcert.tf
  src/core/function_publiceventdispatcher.tf
  src/core/function_services.tf
  src/domains/eucovidcert/_modules/function_apps/alerts.tf
  src/domains/eucovidcert/_modules/function_apps/autoscalers.tf
  src/domains/eucovidcert/_modules/function_apps/data.tf
  src/domains/eucovidcert/_modules/function_apps/function_app_eucovidcert.tf
  src/domains/eucovidcert/_modules/function_apps/locals.tf
  src/domains/eucovidcert/_modules/function_apps/main.tf
  src/domains/eucovidcert/_modules/function_apps/outputs.tf
  src/domains/eucovidcert/_modules/function_apps/tests.tf
  src/domains/eucovidcert/_modules/function_apps/variables.tf
  src/domains/eucovidcert/_modules/networking/data.tf
  src/domains/eucovidcert/_modules/networking/locals.tf
  src/domains/eucovidcert/_modules/networking/main.tf
  src/domains/eucovidcert/_modules/networking/outputs.tf
  src/domains/eucovidcert/_modules/networking/subnet_eucovidcert.tf
  src/domains/eucovidcert/_modules/networking/variables.tf
  src/domains/eucovidcert/_modules/storage_accounts/outputs.tf
  src/domains/eucovidcert/prod/westeurope/README.md
  src/domains/eucovidcert/prod/westeurope/function_apps.tf
  src/domains/eucovidcert/prod/westeurope/networking.tf
  src/domains/eucovidcert/prod/westeurope/outputs.tf
  src/domains/tests/test_users.tf
Labels: core

#923 [EC-239] Move messages common resources in their own configuration
  src/core/README.md
  src/core/app_messages.tf
  src/domains/messages-common/.terraform.lock.hcl
  src/domains/messages-common/01_network.tf
  src/domains/messages-common/02_key_vault.tf
  src/domains/messages-common/03_database.tf
  src/domains/messages-common/04_storage.tf
  src/domains/messages-common/05_apim_v2.tf
  src/domains/messages-common/07_redis.tf
  src/domains/messages-common/99_main.tf
  src/domains/messages-common/README.md
  src/domains/messages-common/env/prod/terraform.tfvars
Labels: core

#924 [EC-239] Move messages resources to their own configuration
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
  src/core/env/prod/terraform.tfvars
  src/domains/messages-app/.terraform.lock.hcl
  src/domains/messages-app/01_monitor.tf
  src/domains/messages-app/01_network.tf
  src/domains/messages-app/02_key_vault.tf
  src/domains/messages-app/02_namespace.tf
  src/domains/messages-app/04_storage.tf
  src/domains/messages-app/06_events.tf
  src/domains/messages-app/07_function_pushnotif.tf
  src/domains/messages-app/10_function_messages.tf
  src/domains/messages-app/99_locals.tf
  src/domains/messages-app/99_main.tf
  src/domains/messages-app/99_variables.tf
  src/domains/messages-app/README.md
  src/domains/messages-app/env/weu-prod01/terraform.tfvars
  src/domains/messages-common/.terraform.lock.hcl
  src/domains/messages-common/env/prod/terraform.tfvars
Labels: core

#926 [SFEQS-2145] Added io-p-sign-rejected-test-requests alert rule and updated io-p-sign-rejected-requests
  src/domains/sign/monitoring.tf
Labels: sign

#925 [#IOCOM-1202] Added new manage API to IO SERVICES API
  src/domains/messages-common/05_apim_v2.tf
  src/domains/messages-common/README.md
Labels: status: apply in progress

#905 [EC-232] Remove all FIMS resources
  src/core/99_variables.tf
  src/core/README.md
  src/core/env/prod/terraform.tfvars
  src/domains/citizen-auth-app/04_fims.tf
  src/domains/citizen-auth-app/99_variables.tf
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-app/env/weu-beta/terraform.tfvars
  src/domains/citizen-auth-app/env/weu-prod01/terraform.tfvars
  src/domains/citizen-auth-common/03_apim_v2.tf
  src/domains/citizen-auth-common/05_database.tf
  src/domains/citizen-auth-common/99_variables.tf
  src/domains/citizen-auth-common/README.md
  src/domains/citizen-auth-common/env/prod/terraform.tfvars
Labels: core

#927 [EC-240] Move Function messages cqrs resources to their own configuration
  src/core/99_variables.tf
  src/core/README.md
  src/core/backend_messages.tf
  src/core/env/prod/terraform.tfvars
  src/core/function_assets_cdn.tf
  src/domains/messages-app/11_function_cqrs.tf
  src/domains/messages-app/99_variables.tf
  src/domains/messages-app/README.md
  src/domains/messages-app/env/weu-beta/terraform.tfvars
  src/domains/messages-app/env/weu-prod01/terraform.tfvars
Labels: core
