Repository pagopa/io-infra, pull requests merged in 2024-06, with the labels that each got.

#1007 [#IOPID-1768 / 1] Update appgateway module version, Add session-manager to backend list
  src/core/README.md
  src/core/appgateway.tf
  src/core/data.tf
Labels: no apply, no merge, core

#1008 [#IOPID-1768 / 2] Move io-backend path to path-based routing
  src/core/appgateway.tf
Labels: core

#1009 [#IOPID-1768 / 3] Add `/session-manager` path routing
  src/core/appgateway.tf
Labels: no apply, no merge, core

#1010 [#IOPID-1768 / 4] Enable routing based on cookie
  src/core/appgateway.tf
Labels: no apply, no merge, core

#1006 [EC-313] Add required infrastructure for Azure Load Test
  .github/workflows/load_test_cd.yaml
  .github/workflows/load_test_ci.yaml
  src/load-test/prod/.terraform.lock.hcl
  src/load-test/prod/README.md
  src/load-test/prod/data.tf
  src/load-test/prod/load_test.tf
  src/load-test/prod/locals.tf
  src/load-test/prod/main.tf
  src/load-test/prod/networking.tf
  src/load-test/prod/outputs.tf
Labels: automation

#1027 Add more test users for load testing purpose
  src/core/app_backend.tf
  src/core/grafana.tf
  src/core/test_users.tf
  src/domains/citizen-auth-app/08_session_manager.tf
  src/domains/elt/prod/westeurope/locals.tf
  src/domains/functions/function_admin.tf
  src/domains/tests/test_users.tf
Labels: core

#1030 Add redis private dns zone link to itn common vnet
  src/core/_modules/networking/data.tf
  src/core/_modules/networking/private_dns_zone_itn_common.tf
Labels: core

#1032 Added subnet to backend li to allow calls from itn-msgs-sending-func
  src/core/README.md
  src/core/app_backend.tf
Labels: status: apply in progress, core

#1028 [#IOPID-1940] appgateway - point to new `session-manager`
  src/core/appgateway.tf
Labels: status: apply in progress, core

#1033 [EC-318] DevOps Pipelines migration to GitHub Actions
  .github/workflows/backup_apim_deploy.yaml
  .github/workflows/core_code_review_weu.yaml
  .github/workflows/core_deploy.yaml
  .github/workflows/core_deploy_weu.yaml
Labels: automation

#1034 [EC-318] excluded paths with ! and removed paths-ignore
  .github/workflows/core_code_review_weu.yaml
Labels: automation

#1036 [EC-318] Added some comments inside CORE pipelines
  .github/workflows/core_code_review.yaml
  .github/workflows/core_code_review_weu.yaml
  .github/workflows/core_deploy.yaml
  .github/workflows/core_deploy_weu.yaml
Labels: automation

#1041 [IOCOM-1554] Update FIMS configuration on app gateway
  src/core/README.md
  src/core/appgateway.tf
Labels: core

#1017 [SIW-1205] Updated IO_WALLET_API_BASE_PATH
  src/core/app_backend.tf
Labels: core

#1052 Update fims-op-app rewrite rule in appgateway
  src/core/99_variables.tf
  src/core/README.md
  src/core/appgateway.tf
  src/core/env/prod/terraform.tfvars
Labels: core

#1039 [#IOPID-1962] change lollipop function reference on appbackend
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
Labels: core

#1054 Add oauth.io.pagopa.it DNS record
  src/core/README.md
  src/core/dns_io_pagopa_it.tf
Labels: core
