Repository pagopa/io-infra, pull requests merged in 2024-01, with the labels that each got.

#815 [#IOPID-1125] Add ENV in fn-admin to Lock Profile table storage
  src/core/app_messages.tf
  src/core/function_admin.tf
  src/core/function_eucovidcert.tf
Labels: status: partially applied

#831 [#IOPID-1197] Add new lease collection
  src/core/README.md
  src/core/function_app_async.tf
Labels: status: applied

#833 Align seeding min instance App Async
  src/core/env/prod/terraform.tfvars
Labels: status: applied

#840 [#IOPID-1356] Restore minimum instances fn-app afeter seeding
  src/core/env/prod/terraform.tfvars
Labels: status: partially applied

#844 [#IOCOM-916] Add new cosmos container for RC configuration
  src/domains/messages-app/02_namespace.tf
  src/domains/messages-app/99_variables.tf
  src/domains/messages-app/README.md
  src/domains/messages-app/env/weu-beta/terraform.tfvars
  src/domains/messages-app/env/weu-prod01/terraform.tfvars
  src/domains/messages-app/env/weu-prod02/terraform.tfvars
  src/domains/messages-common/03_database.tf
  src/domains/messages-common/README.md
Labels: status: apply in progress

#854 [#IOPID-1179] enable UIM for all users
  src/core/app_backend.tf
  src/core/function_app.tf
  src/core/function_public.tf
Labels: status: apply in progress

#853 [#IOPID-1338] Set `FF_FAST_LOGIN` to `ALL`
  src/core/app_backend.tf
Labels: status: applied
