Repository pagopa/io-infra, pull requests merged in 2024-10, with the labels that each got.

#1221 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automation

#1214 [#IOPID-2040] change fn app references to itn resources
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/locals.tf
  src/domains/citizen-auth-app/08_session_manager.tf
  src/domains/ioweb-app/01_network_itn.tf
  src/domains/ioweb-app/05_resource_group.tf
  src/domains/ioweb-app/06_function_ioweb_profile.tf
  src/domains/ioweb-app/README.md
Labels: status: applied

#1199 [CES-128] - Add backend l3 for wallet publication
  src/common/_modules/app_backend/app_settings.tf
  src/common/_modules/app_backend/data_kv.tf
  src/common/_modules/app_backend/locals.tf
  src/common/_modules/app_backend/variables.tf
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/locals.tf
  src/common/prod/westeurope.tf
Labels: no apply, no merge

#1232 feat: fix reachability from appbel3 to downstream applications
  src/domains/cgn/_modules/functions_apps/data.tf
  src/domains/cgn/_modules/functions_apps/function_app_cgn.tf
  src/domains/cgn/prod/locals.tf
  src/domains/eucovidcert/_modules/function_apps/data.tf
  src/domains/eucovidcert/_modules/function_apps/function_app_eucovidcert.tf
  src/domains/messages-app/01_network.tf
  src/domains/messages-app/10_function_messages.tf
  src/domains/messages-app/10_function_messages_xl.tf
  src/domains/messages-app/README.md
Labels: cgn

#1196 [CES-126] - Scale application gateway for wallet
  src/common/_modules/application_gateway/main.tf
  src/common/prod/westeurope.tf
Labels: no apply, no merge

#1235 [CES-108] Add private endpoints to CGN Cosmos Account without altering DNS
  src/domains/cgn/_modules/cosmos/cosmos_account_cgn.tf
  src/domains/cgn/_modules/cosmos/variables.tf
  src/domains/cgn/_modules/networking/data.tf
  src/domains/cgn/_modules/networking/locals.tf
  src/domains/cgn/_modules/networking/outputs.tf
  src/domains/cgn/prod/cosmos.tf
  src/domains/cgn/prod/locals.tf
Labels: cgn

#1225 [CES-155] Updated static_analysis.yaml with new action and pre-commit updated
  .github/workflows/static_analysis.yml
  .gitignore
  .pre-commit-config.yaml
  .tflint.hcl
  .trivyignore
  src/aks-platform/README.md
  src/common/prod/README.md
  src/core/prod/README.md
  src/domains/cgn/prod/.terraform.lock.hcl
  src/domains/cgn/prod/README.md
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-common/.terraform.lock.hcl
  src/domains/citizen-auth-common/README.md
  src/domains/continua/prod/westeurope/README.md
  src/domains/elk/README.md
  src/domains/elt/prod/README.md
  src/domains/eucovidcert/prod/westeurope/.terraform.lock.hcl
  src/domains/eucovidcert/prod/westeurope/README.md
  src/domains/functions/.terraform.lock.hcl
  src/domains/functions/README.md
  src/domains/ioweb-app/.terraform.lock.hcl
  src/domains/ioweb-app/README.md
  src/domains/ioweb-common/.terraform.lock.hcl
  src/domains/ioweb-common/README.md
  src/domains/messages-app/README.md
  src/domains/messages-common/README.md
  src/domains/payments-app/.terraform.lock.hcl
  src/domains/payments-app/README.md
  src/domains/payments-common/README.md
  src/domains/profile-app/README.md
  src/domains/profile-common/README.md
  src/domains/selfcare/prod/westeurope/README.md
  src/domains/tests/README.md
  src/github-runner/.terraform.lock.hcl
  src/github-runner/README.md
  src/identity/prod/README.md
  src/legacy-apim/prod/.terraform.lock.hcl
  src/legacy-apim/prod/README.md
  src/load-test/prod/README.md
  src/packer/README.md
  src/repository/README.md
Labels: cgn, core, automation, aks-platform, github-runner, elk, packer

#1244 [#IOPID-1953, IOPID-1954, IOPID-1955] creating fn-public in ITN
  src/domains/citizen-auth-app/01_network_itn.tf
  src/domains/citizen-auth-app/04_shared_plan.tf
  src/domains/citizen-auth-app/10_function_public.tf
  src/domains/citizen-auth-app/99_variables.tf
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-app/env/weu-prod01/terraform.tfvars
Labels: status: apply in progress

#1260 [DEVEX-179] Add custom role to manage Opex dashboard
  src/core/_modules/custom_roles/outputs.tf
  src/core/_modules/custom_roles/pagopa_opex_role.tf
  src/core/_modules/custom_roles/variables.tf
  src/core/prod/README.md
  src/core/prod/italynorth.tf
Labels: core

#1261 [DEVEX-179] Few fix for PagoPA Opex Dashboards Contributor custom role definition
  src/core/_modules/custom_roles/pagopa_opex_role.tf
Labels: core

#1246 [CES-39] - Upgrade terraform version to 1.9.8
  .terraform-version
  src/github-runner/.terraform.lock.hcl
  src/github-runner/README.md
  src/github-runner/container_app_environment.tf
  src/github-runner/container_app_jobs.tf
  src/github-runner/main.tf
  src/github-runner/subnet.tf
  src/identity/prod/.terraform.lock.hcl
  src/identity/prod/README.md
  src/identity/prod/main.tf
Labels: github-runner

#1258 [CES-198] Merge Queue trigger for each CI Action
  .github/workflows/cgn_ci.yaml
  .github/workflows/common_code_review.yaml
  .github/workflows/continua_ci.yaml
  .github/workflows/core_code_review.yaml
  .github/workflows/elt_ci.yaml
  .github/workflows/eucovidcert_ci.yaml
  .github/workflows/functions_ci.yml
  .github/workflows/ioselfcare_ci.yaml
  .github/workflows/ioweb_prod_ci.yml
  .github/workflows/legacy_apim_code_review.yaml
  .github/workflows/load_test_ci.yaml
  .github/workflows/pr_labeler.yaml
  .github/workflows/prod_ci_citizen-auth.yml
  .github/workflows/static_analysis.yml
Labels: automation

#1267 [#PE-718] Switch CGN functions to ITN deployed func
  src/common/prod/locals.tf
  src/domains/cgn/_modules/apim/named_values_cgn.tf
  src/domains/cgn/_modules/apim/named_values_cgn_os.tf
Labels: cgn

#1270 Disabled functions triggere from queue or timer
  src/domains/cgn/_modules/functions_apps/function_app_cgn.tf
Labels: cgn

#1271 Disabled functions
  src/domains/cgn/_modules/functions_apps/function_app_cgn.tf
Labels: cgn

#1272 Increased CGN RU limit
  src/domains/cgn/_modules/cosmos/locals.tf
Labels: cgn
