Repository pagopa/io-infra, pull requests merged in 2024-08, with the labels that each got.

#1104 [EC-357] Move ACR resources to modules
  src/core/README.md
  src/core/_modules/container_registry/acr.tf
  src/core/_modules/container_registry/locals.tf
  src/core/_modules/container_registry/outputs.tf
  src/core/_modules/container_registry/resource_groups.tf
  src/core/_modules/container_registry/variables.tf
  src/core/prod/README.md
  src/core/prod/westeurope.tf
Labels: core

#1107 [#IOPID-1921] Add new `pdnd-io-cosmosdb-service-preferences` topic
  src/core/app_backend.tf
  src/core/env/prod/terraform.tfvars
Labels: core

#1108 fix: Added permissions on io-p-kv to cd identity
  src/core/keyvault_access_policy.tf
Labels: core

#1105 [#IOPID-1978] Add new env variables for `service-preferences` export
  src/core/README.md
  src/domains/elt/_modules/function_apps/data.tf
  src/domains/elt/_modules/function_apps/function_app_elt.tf
Labels: core

#1106 [EC-357] Move KeyVault resources to modules
  .github/workflows/core_code_review.yaml
  src/core/README.md
  src/core/_modules/key_vaults/kv.tf
  src/core/_modules/key_vaults/kv_common.tf
  src/core/_modules/key_vaults/locals.tf
  src/core/_modules/key_vaults/outputs.tf
  src/core/_modules/key_vaults/resource_groups.tf
  src/core/_modules/key_vaults/variables.tf
  src/core/apim_v2.tf
  src/core/apim_v2_io_admin_api.tf
  src/core/apim_v2_io_public_api.tf
  src/core/apim_v2_io_services_api.tf
  src/core/app_backend.tf
  src/core/appgateway.tf
  src/core/assets_cdn.tf
  src/core/data.tf
  src/core/events.tf
  src/core/keyvault.tf
  src/core/keyvault_access_policy.tf
  src/core/monitor.tf
  src/core/prod/README.md
  src/core/prod/data.tf
  src/core/prod/westeurope.tf
Labels: core, automation

#1103 [#IOPID-1865] Clean backend envs after Session Manager rollout
  src/core/README.md
  src/core/app_backend.tf
  src/core/data.tf
Labels: core

#1111 Allow Backoffice ITN subnet in Subscription Migration
  src/core/README.md
  src/core/data.tf
  src/domains/selfcare/_modules/app_services/data.tf
  src/domains/selfcare/_modules/app_services/function_devportal_service_data.tf
  src/domains/selfcare/_modules/app_services/function_subscription_migrations.tf
  src/domains/selfcare/_modules/app_services/locals.tf
  src/domains/selfcare/_modules/app_services/variables.tf
  src/domains/selfcare/prod/westeurope/README.md
  src/domains/selfcare/prod/westeurope/app_services.tf
  src/domains/selfcare/prod/westeurope/data.tf
Labels: core

#1115 [EC-385] Add io-sign KV access policy to workflow identities
  src/domains/sign/key_vault.tf
Labels: sign

#1112 [EC-384] Upgrade TF modules and providers of io-sign config
  .devops/sign-code-review-pipelines.yml
  .devops/sign-deploy-pipelines.yml
  .github/workflows/sign_cd.yaml
  .github/workflows/sign_ci.yaml
  src/domains/sign/.terraform-version
  src/domains/sign/.terraform.lock.hcl
  src/domains/sign/00_resource_groups.tf
  src/domains/sign/99_main.tf
  src/domains/sign/99_variables.tf
  src/domains/sign/apim_v2.tf
  src/domains/sign/cosmos.tf
  src/domains/sign/cosmos_backoffice.tf
  src/domains/sign/cosmos_issuer.tf
  src/domains/sign/cosmos_user.tf
  src/domains/sign/env/prod/terraform.tfvars
  src/domains/sign/github_runner.tf
  src/domains/sign/integration.tf
  src/domains/sign/io_sign_backoffice_app.tf
  src/domains/sign/io_sign_backoffice_func.tf
  src/domains/sign/io_sign_issuer_func.tf
  src/domains/sign/io_sign_support_func.tf
  src/domains/sign/io_sign_user_func.tf
  src/domains/sign/key_vault.tf
  src/domains/sign/landing.tf
  src/domains/sign/monitoring.tf
  src/domains/sign/network.tf
  src/domains/sign/storage.tf
Labels: automation, sign

#1117 [EC-387] Fix io-sign workflows
  .github/workflows/sign_cd.yaml
  .github/workflows/sign_ci.yaml
  src/domains/sign/env/dev/backend.tfvars
  src/domains/sign/env/prod/backend.tfvars
Labels: automation, sign

#1116 [IOPAE-1246] Switch Backoffice targeted instance in AppGasteway from region WEU to…
  src/core/README.md
  src/core/appgateway.tf
  src/core/data.tf
  src/domains/selfcare/_modules/app_services/data.tf
  src/domains/selfcare/_modules/app_services/function_subscription_migrations.tf
Labels: core

#1119 feat: set smtp settings for grafana
  src/core/README.md
  src/core/grafana.tf
Labels: core

#1118 [EC-383] Create io-sign Storage Account replica in ItalyNorth
  src/domains/sign/00_resource_groups.tf
  src/domains/sign/99_variables.tf
  src/domains/sign/env/prod/terraform.tfvars
  src/domains/sign/storage.tf
Labels: sign

#1120 [EC-383] Add private endpoints for io-sign Storage Account ITN replica
  src/domains/sign/network.tf
  src/domains/sign/storage.tf
Labels: sign

#1121 [EC-383] Fix private endpoints for io-sign Storage Account ITN replica
  src/domains/sign/network.tf
Labels: sign

#1122 [EC-394] Remove westeurope folder from CGN configuration
  .github/workflows/cgn_cd.yaml
  .github/workflows/cgn_ci.yaml
  .github/workflows/static_analysis.yml
  src/domains/cgn/_modules/storage_accounts/storage_account_cgn.tf
  src/domains/cgn/prod/.terraform.lock.hcl
  src/domains/cgn/prod/README.md
  src/domains/cgn/prod/apim.tf
  src/domains/cgn/prod/cosmos.tf
  src/domains/cgn/prod/functions_apps.tf
  src/domains/cgn/prod/locals.tf
  src/domains/cgn/prod/main.tf
  src/domains/cgn/prod/networking.tf
  src/domains/cgn/prod/outputs.tf
  src/domains/cgn/prod/redis.tf
  src/domains/cgn/prod/resource_groups.tf
  src/domains/cgn/prod/storage_accounts.tf
Labels: cgn, automation

#1124 [EC-393] Import iopstcosmosbonusbackup in Terraform
  src/domains/cgn/_modules/storage_accounts/storage_account_cosmos_backup.tf
Labels: cgn

#1128 [B2BP-892] - Add txt record for google verification on io.italia.it
  src/core/_modules/global/modules/dns/dns_io_italia_it.tf
Labels: core

#1129 [#IOPID-1918] Create `pdnd-io-cosmosdb-profiles` topic
  src/core/env/prod/terraform.tfvars
Labels: status: applied, status: partially applied, core

#1130 [#IOPID-1908] Add configuration for Profile change feed processor
  src/domains/elt/_modules/function_apps/data.tf
  src/domains/elt/_modules/function_apps/function_app_elt.tf
Labels: no apply

#1110 [EC-357] - Move eventhub from core to modules
  .github/workflows/common_code_review.yaml
  .github/workflows/common_deploy.yaml
  CODEOWNERS
  src/common/_modules/event_hubs/data.tf
  src/common/_modules/event_hubs/locals.tf
  src/common/_modules/event_hubs/main.tf
  src/common/_modules/event_hubs/variables.tf
  src/common/prod/.terraform.lock.hcl
  src/common/prod/data.tf
  src/common/prod/locals.tf
  src/common/prod/main.tf
  src/common/prod/refactor.tf
  src/common/prod/westeurope.tf
  src/core/99_variables.tf
  src/core/README.md
  src/core/_modules/global/modules/dns/outputs.tf
  src/core/_modules/global/outputs.tf
  src/core/_modules/key_vaults/outputs.tf
  src/core/events.tf
  src/core/prod/README.md
  src/core/prod/data.tf
  src/core/prod/outputs.tf
  src/core/prod/refactor.tf
  src/core/prod/westeurope.tf
Labels: no merge, core, automation

#1136 [IOCOM-1636] Added apis to point citizen exposed messages functions
  src/domains/messages-common/05_apim_v2.tf
  src/domains/messages-common/README.md
  src/domains/messages-common/api/messages-citizen/v1/_base_policy_l1.xml
  src/domains/messages-common/api/messages-citizen/v1/_base_policy_l2.xml
  src/domains/messages-common/api_product/backend/_base_policy.xml
Labels: status: apply in progress

#1137 [IOCOM-1636] Fixes to APIM APIs
  src/domains/messages-common/05_apim_v2.tf
  src/domains/messages-common/README.md
  src/domains/messages-common/api/messages-citizen/v1/_base_policy_l1.xml
  src/domains/messages-common/api/messages-citizen/v1/_base_policy_l2.xml
  src/domains/messages-common/api_product/backend/_base_policy.xml
Labels: status: apply in progress

#1139 [IOCOM-1689] Add APIM autoscaler
  src/core/env/prod/terraform.tfvars
Labels: core

#1140 [IOCOM-1636] Try override on parameter name
  src/domains/messages-common/05_apim_v2.tf
  src/domains/messages-common/README.md
Labels: status: applied
