Repository pagopa/io-infra, pull requests merged in 2024-12, with the labels that each got.

#1359 [#IOPID-2516] changed named value
  src/domains/citizen-auth-common/06_data.tf
Labels: status: applied

#1366 [#IOPID-2550] Disable HandlePubkeyRevoke queue trigger old fn-lollipop
  src/domains/citizen-auth-app/04_function_lollipop.tf
Labels: status: applied

#1370 [CES-619] Upgrade repository Terraform version
  .github/workflows/static_analysis.yml
  .terraform-version
Labels: automation

#1367 [CES-595] Remove AppBackend 3
  src/common/prod/locals.tf
  src/domains/cgn/_modules/functions_apps/data.tf
  src/domains/cgn/_modules/functions_apps/function_app_cgn.tf
  src/domains/citizen-auth-app/01_network.tf
  src/domains/citizen-auth-app/README.md
  src/domains/eucovidcert/_modules/function_apps/data.tf
  src/domains/eucovidcert/_modules/function_apps/function_app_eucovidcert.tf
  src/domains/messages-app/01_network.tf
  src/domains/messages-app/10_function_messages.tf
  src/domains/messages-app/10_function_messages_xl.tf
  src/domains/messages-app/README.md
Labels: cgn

#1373 [IOPLT-822] Create resource group for AGW in Italy north
  src/core/prod/README.md
  src/core/prod/resource_groups.tf
Labels: core
