Repository pagopa/io-infra, pull requests merged in 2024-07, with the labels that each got.

#1063 [IOPLT-611] Add Load test users
  .github/workflows/call_code_review.yaml
  .github/workflows/call_release.yaml
  .github/workflows/elt_cd.yaml
  .github/workflows/elt_ci.yaml
  src/core/test_users.tf
  src/domains/citizen-auth-app/.terraform.lock.hcl
  src/domains/functions/.terraform.lock.hcl
  src/domains/tests/test_users.tf
Labels: status: applied, core, automation

#1064 Add backend 3
  src/core/README.md
  src/core/app_backend.tf
Labels: core

#1065 Update network configuration for backend 3
  .github/workflows/cgn_cd.yaml
  .github/workflows/cgn_ci.yaml
  .github/workflows/eucovidcert_cd.yaml
  .github/workflows/eucovidcert_ci.yaml
  src/domains/cgn/_modules/functions_apps/data.tf
  src/domains/cgn/_modules/functions_apps/function_app_cgn.tf
  src/domains/citizen-auth-app/01_network.tf
  src/domains/citizen-auth-app/07_function_fast_login.tf
  src/domains/citizen-auth-app/README.md
  src/domains/eucovidcert/_modules/function_apps/data.tf
  src/domains/eucovidcert/_modules/function_apps/function_app_eucovidcert.tf
  src/domains/functions/data.tf
  src/domains/functions/function_app.tf
  src/domains/messages-app/01_network.tf
  src/domains/messages-app/10_function_messages.tf
  src/domains/messages-app/README.md
Labels: cgn, automation

#1070 [EC-358] Update core TF modules
  src/core/.terraform.lock.hcl
  src/core/99_main.tf
  src/core/README.md
  src/core/apim_v2.tf
  src/core/apim_v2_io_admin_api.tf
  src/core/apim_v2_io_backend_v1.tf
  src/core/apim_v2_io_public_api.tf
  src/core/apim_v2_io_services_api.tf
  src/core/app_backend.tf
  src/core/appgateway.tf
  src/core/assets_cdn.tf
  src/core/azure_devops_agent.tf
  src/core/container_registry.tf
  src/core/events.tf
  src/core/keyvault.tf
  src/core/monitor.tf
  src/core/nat_gateway.tf
  src/core/network.tf
  src/core/redis.tf
  src/core/storage_api.tf
  src/core/storage_locked_profiles.tf
  src/core/vpn.tf
Labels: core

#1068 Added APIM private dns zones
  src/core/99_main.tf
  src/core/README.md
  src/core/data.tf
  src/core/private_dns_zones.tf
  src/identity/prod/.terraform.lock.hcl
  src/identity/prod/README.md
  src/identity/prod/data.tf
  src/identity/prod/main.tf
Labels: core

#1069 [SIW-1339] Added wallet environment variables
  src/core/99_variables.tf
  src/core/README.md
  src/core/app_backend.tf
Labels: core

#1073 Link apim private dns zones to itn common vnet
  src/core/_modules/networking/data.tf
  src/core/_modules/networking/private_dns_zone_itn_common.tf
Labels: core

#1071 [#IOPID-2042] Routing `test-login` endpoint to Session Manager
  src/core/app_backend.tf
  src/core/appgateway.tf
Labels: core

#1076 [#IOPIT-1860] Routing sso endpoints to Session Manager
  src/core/appgateway.tf
Labels: core

#1077 Set grafana_major_version to 10 after manual upgrade
  src/core/grafana.tf
Labels: core

#1078 [#IOPID-1861] Routing `login` and `acs` endpoints to Session Manager
  src/core/appgateway.tf
Labels: core

#1080 [EC-363] Add Auto Heal on Backend App Services and Session Manager
  src/core/README.md
  src/core/app_backend.tf
  src/domains/citizen-auth-app/08_session_manager.tf
  src/domains/citizen-auth-app/README.md
Labels: core

#1079 [#IOPID-1861] Routing `generateNonce` and `fast-login` API to Session Manager
  src/core/appgateway.tf
Labels: no apply, no merge, core

#1085 [EC-367] Auto Heal tuning and enable automatic autoscaler on backend
  src/core/README.md
  src/core/app_backend.tf
Labels: core

#1067 [EC-355] Move networking resources to modules
  .terraform-version
  src/core/.terraform.lock.hcl
  src/core/README.md
  src/core/_modules/global/main.tf
  src/core/_modules/global/modules/dns/dns_firmaconio_selfcare_pagopa_it.tf
  src/core/_modules/global/modules/dns/dns_io_italia_it.tf
  src/core/_modules/global/modules/dns/dns_io_pagopa_it.tf
  src/core/_modules/global/modules/dns/dns_io_selfcare_pagopa_it.tf
  src/core/_modules/global/modules/dns/dns_ioweb_it.tf
  src/core/_modules/global/modules/dns/outputs.tf
  src/core/_modules/global/modules/dns/private_dns_zone_links.tf
  src/core/_modules/global/modules/dns/private_dns_zones.tf
  src/core/_modules/global/modules/dns/variables.tf
  src/core/_modules/global/variables.tf
  src/core/_modules/networking/data.tf
  src/core/_modules/networking/locals.tf
  src/core/_modules/networking/nat_gateway.tf
  src/core/_modules/networking/outputs.tf
  src/core/_modules/networking/private_dns_zone_itn_common.tf
  src/core/_modules/networking/snet_private_endpoints.tf
  src/core/_modules/networking/variables.tf
  src/core/_modules/networking/vnet_common.tf
  src/core/_modules/networking/vnet_peering_itn_common_to_weu_beta.tf
  src/core/_modules/networking/vnet_peering_itn_common_to_weu_prod.tf
  src/core/_modules/networking/vnet_peering_weu_to_itn_common.tf
  src/core/_modules/vnet_peering/main.tf
  src/core/_modules/vnet_peering/variables.tf
  src/core/apim_v2.tf
  src/core/app_backend.tf
  src/core/appgateway.tf
  src/core/assets_cdn.tf
  src/core/azure_devops_agent.tf
  src/core/data.tf
  src/core/devportal.tf
  src/core/events.tf
  src/core/monitor.tf
  src/core/nat_gateway.tf
  src/core/network.tf
  src/core/private_dns_zones.tf
  src/core/prod/.terraform.lock.hcl
  src/core/prod/README.md
  src/core/prod/data.tf
  src/core/prod/global.tf
  src/core/prod/italynorth.tf
  src/core/prod/locals.tf
  src/core/prod/main.tf
  src/core/prod/outputs.tf
  src/core/prod/refactor.tf
  src/core/prod/westeurope.tf
  src/core/redis.tf
  src/core/refactored_resources.tf
  src/core/storage_locked_profiles.tf
  src/core/vpn.tf
Labels: no merge, core

#1088 Move redis-common in its own configuration
  src/core/README.md
  src/core/app_backend.tf
  src/core/redis.tf
  src/redis-common/prod/.terraform.lock.hcl
  src/redis-common/prod/main.tf
Labels: core

#1092 Update Trial System API URL
  src/core/app_backend.tf
Labels: core

#1094 Enable io-wallet feature flag
  src/core/app_backend.tf
Labels: core

#1093 Add trial-system action group
  src/core/monitor.tf
Labels: core

#1097 Disabled FF for message view
  src/core/README.md
  src/domains/messages-app/10_function_messages.tf
Labels: core

#1083 [#IOPID-1863] Routing GetSession and Logout to Session Manager
  src/core/appgateway.tf
Labels: core

#1082 [#IOPID-1875] Route all backend traffic to `app-fn-2`
  src/core/app_backend.tf
Labels: core

#1098 fix: Removed duplicated key in prometheus_helm variable aks-platform
  src/aks-platform/99_variables.tf
  src/aks-platform/README.md
Labels: aks-platform

#1099 [EC-376] Remove app backend 3
  src/core/README.md
  src/core/app_backend.tf
  src/domains/cgn/_modules/functions_apps/data.tf
  src/domains/cgn/_modules/functions_apps/function_app_cgn.tf
  src/domains/citizen-auth-app/01_network.tf
  src/domains/citizen-auth-app/07_function_fast_login.tf
  src/domains/citizen-auth-app/README.md
  src/domains/eucovidcert/_modules/function_apps/data.tf
  src/domains/eucovidcert/_modules/function_apps/function_app_eucovidcert.tf
  src/domains/functions/data.tf
  src/domains/functions/function_app.tf
  src/domains/messages-app/01_network.tf
  src/domains/messages-app/10_function_messages.tf
  src/domains/messages-app/README.md
Labels: cgn, core

#1100 [CES-6] Moved NAT Gateway in TF state
  src/core/_modules/networking/nat_gateway.tf
  src/core/_modules/networking/variables.tf
  src/core/prod/refactor.tf
Labels: core
