Repository pagopa/io-infra, pull requests merged in 2025-03, with the labels that each got.

#1436 Add step to add and remove mock policy to Services-CMS APIs
  .github/workflows/backup_apim_deploy.yaml
Labels: automation

#1440 Add scheduler to APIM Migration workflow to test the complete setup tonight
  .github/workflows/backup_apim_deploy.yaml
  src/repository/README.md
  src/repository/github_environment_apim.tf
  src/repository/github_repository.tf
Labels: automation

#1441 Fix APIM backup workflow
  .github/workflows/backup_apim_deploy.yaml
Labels: automation

#1454 Remove workflows related to APIM region migration
  .devops/backup-apim-deploy-pipelines.yml
  .github/workflows/backup_apim_deploy.yaml
  src/repository/README.md
  src/repository/data.tf
  src/repository/github_environment_apim.tf
  src/repository/locals.tf
Labels: automation

#1460 update action/cache
  .github/workflows/call_release.yaml
Labels: automation

#1464 Update CGN Azure resource tags
  src/domains/cgn/prod/README.md
  src/domains/cgn/prod/apim.tf
  src/domains/cgn/prod/locals.tf
Labels: cgn

#1442 [#IOPLT-972] Fix mailup alert time window
  .github/workflows/common_code_review.yaml
  src/common/_modules/monitoring/web_tests.tf
Labels: automation

#1476 Migrate from pagopa to pagopa-dx tf registry namespace and fix constraints
  src/_modules/data_factory_cosmos/iam.tf
  src/_modules/data_factory_cosmos/main.tf
  src/_modules/data_factory_storage_account/iam.tf
  src/_modules/data_factory_storage_account/main.tf
  src/common/_modules/apim/rbac.tf
  src/common/_modules/assets_cdn/iam.tf
  src/common/_modules/cosmos_api/iam.tf
  src/common/_modules/github_runner/main.tf
  src/common/_modules/storage_accounts/iam.tf
  src/common/dev/.terraform.lock.hcl
  src/core/_modules/storage_accounts/iam.tf
  src/domains/continua/prod/westeurope/.terraform.lock.hcl
  src/domains/functions/README.md
  src/domains/functions/function_assets_cdn.tf
  src/domains/ioweb-common/06_cdn_itn.tf
  src/domains/ioweb-common/README.md
  src/domains/messages-app/.terraform.lock.hcl
  src/domains/payments-app/.terraform.lock.hcl
  src/domains/payments-common/05_api_v2.tf
  src/domains/payments-common/99_data.tf
  src/domains/payments-common/99_locals.tf
  src/domains/payments-common/README.md
  src/identity/dev/README.md
  src/identity/dev/main.tf
  src/identity/prod/README.md
  src/identity/prod/main.tf
Labels: core

#1485 Add role to io-p-adgroup-bonus-admins to to their resource group
  src/domains/cgn/_modules/resource_groups/outputs.tf
  src/domains/cgn/_modules/resource_groups/resource_group_cgn_be.tf
  src/domains/cgn/_modules/storage_accounts/storage_account_legal_backup.tf
  src/domains/cgn/prod/.terraform.lock.hcl
  src/domains/cgn/prod/README.md
  src/domains/cgn/prod/data.tf
  src/domains/cgn/prod/main.tf
  src/domains/cgn/prod/outputs.tf
  src/domains/cgn/prod/resource_groups.tf
Labels: cgn

#1486 Migrate CGN state file to the correct storage account
  src/domains/cgn/prod/main.tf
Labels: cgn

#1488 Remove pull request template from the repository
  .github/PULL_REQUEST_TEMPLATE.md
Labels: automation

#1491 Move Messages domain TF state files
  .devops/messages-code-review-pipelines.yml
  .devops/messages-deploy-pipelines.yml
  src/core/_modules/storage_accounts/iam.tf
  src/core/_modules/storage_accounts/variables.tf
  src/core/prod/italynorth.tf
  src/core/prod/tfmodules.lock.json
  src/domains/messages-app/env/weu-prod01/backend.tfvars
  src/domains/messages-common/env/prod/backend.tfvars
Labels: core

#1492 [#IOBP-1499] Added support functions API
  src/domains/cgn/_modules/apim/api_cgn_support.tf
  src/domains/cgn/_modules/apim/apis/cgn_support/_base_policy.xml
  src/domains/cgn/_modules/apim/apis/cgn_support/_product_base_policy.xml
  src/domains/cgn/_modules/apim/data.tf
  src/domains/cgn/_modules/apim/named_values_cgn_support.tf
Labels: cgn

#1495 Fixed rate limiter
  src/domains/cgn/_modules/apim/apis/cgn_support/_product_base_policy.xml
Labels: cgn
