Repository pagopa/io-infra, pull requests merged in 2025-02, with the labels that each got.

#1396 [CES-708] Import existing storage account with TF state files and assign roles
  src/core/_modules/storage_accounts/iam.tf
  src/core/_modules/storage_accounts/terraform_states.tf
  src/core/_modules/storage_accounts/variables.tf
  src/core/prod/README.md
  src/core/prod/italynorth.tf
  src/core/prod/resource_groups.tf
Labels: core

#1403 [CES-708] Add reader role to devs Entra ID Groups to read TF state file
  src/core/_modules/storage_accounts/iam.tf
  src/core/_modules/storage_accounts/variables.tf
  src/core/prod/italynorth.tf
  src/core/prod/moved.tf
Labels: core

#1404 [CES-585] Add to Terraform configuration the rg-operations resource group
  src/core/prod/README.md
  src/core/prod/resource_groups.tf
Labels: core

#1374 Start using terraform registry
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
  src/_modules/data_factory_cosmos/iam.tf
  src/_modules/data_factory_cosmos/main.tf
  src/_modules/data_factory_storage_account/iam.tf
  src/_modules/data_factory_storage_account/main.tf
  src/aks-platform/README.md
  src/aks-platform/tfmodules.lock.json
  src/common/_modules/apim/rbac.tf
  src/common/prod/.terraform.lock.hcl
  src/common/prod/README.md
  src/common/prod/tfmodules.lock.json
  src/core/_modules/vpn/main.tf
  src/core/prod/.terraform.lock.hcl
  src/core/prod/README.md
  src/core/prod/tfmodules.lock.json
  src/domains/bonus/prod/.terraform.lock.hcl
  src/domains/bonus/prod/tfmodules.lock.json
  src/domains/cgn/prod/tfmodules.lock.json
  src/domains/citizen-auth-app/README.md
  src/domains/citizen-auth-app/tfmodules.lock.json
  src/domains/citizen-auth-common/README.md
  src/domains/citizen-auth-common/tfmodules.lock.json
  src/domains/continua/prod/westeurope/tfmodules.lock.json
  src/domains/elt/prod/tfmodules.lock.json
  src/domains/eucovidcert/prod/westeurope/tfmodules.lock.json
  src/domains/functions/README.md
  src/domains/functions/function_assets_cdn.tf
  src/domains/functions/tfmodules.lock.json
  src/domains/ioweb-app/README.md
  src/domains/ioweb-app/tfmodules.lock.json
  src/domains/ioweb-common/06_cdn_itn.tf
  src/domains/ioweb-common/README.md
  src/domains/ioweb-common/tfmodules.lock.json
  src/domains/messages-app/tfmodules.lock.json
  src/domains/messages-common/tfmodules.lock.json
  src/domains/payments-app/README.md
  src/domains/payments-app/tfmodules.lock.json
  src/domains/payments-common/README.md
  src/domains/payments-common/tfmodules.lock.json
  src/domains/profile-app/README.md
  src/domains/profile-app/tfmodules.lock.json
  src/domains/profile-common/README.md
  src/domains/profile-common/tfmodules.lock.json
  src/domains/selfcare/prod/westeurope/tfmodules.lock.json
  src/github-runner/README.md
  src/identity/prod/README.md
  src/identity/prod/main.tf
  src/identity/prod/tfmodules.lock.json
  src/migration/prod/tfmodules.lock.json
  src/packer/README.md
  src/repository/tfmodules.lock.json
Labels: cgn, core, automation, aks-platform, github-runner, packer

#1400 [#IOPID-2395] Switch `ioapp.it` login to `account.ioapp.it`
  src/domains/ioweb-common/10_spid_login.tf
Labels: no apply, no merge

#1401 [#IOPID-2675] Switch `ioapp.it` url to `account.ioapp.it` on fallback login email
  src/domains/citizen-auth-app/09_function_profile.tf
Labels: no apply, no merge

#1413 [CES-725] Import iopstexportdata storage account in Terraform
  src/common/_modules/storage_accounts/iam.tf
  src/common/_modules/storage_accounts/st_exportdata.tf
  src/common/_modules/storage_accounts/variables.tf
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/main.tf
  src/common/prod/tfmodules.lock.json
  src/common/prod/westeurope.tf
  src/core/prod/main.tf
  src/core/prod/outputs.tf
  src/core/prod/resource_groups.tf
Labels: core

#1415 Run common plan and apply workflows in private runner
  .github/workflows/common_code_review.yaml
  .github/workflows/common_deploy.yaml
Labels: automation

#1411 [#PE-932] Changed references to new cgn-xxx-02 functions under shared service plan
  src/common/prod/locals.tf
  src/domains/cgn/_modules/apim/named_values_cgn.tf
  src/domains/cgn/_modules/apim/named_values_cgn_os.tf
  src/domains/cgn/_modules/apim/variables.tf
  src/domains/cgn/_modules/cosmos/cosmos_account_cgn.tf
  src/domains/cgn/_modules/cosmos/variables.tf
  src/domains/cgn/_modules/functions_apps/alerts.tf
  src/domains/cgn/_modules/functions_apps/app_service_plan_cgn_common.tf
  src/domains/cgn/_modules/functions_apps/autoscalers.tf
  src/domains/cgn/_modules/functions_apps/data.tf
  src/domains/cgn/_modules/functions_apps/function_app_cgn.tf
  src/domains/cgn/_modules/functions_apps/function_app_cgn_merchant.tf
  src/domains/cgn/_modules/functions_apps/locals.tf
  src/domains/cgn/_modules/functions_apps/main.tf
  src/domains/cgn/_modules/functions_apps/outputs.tf
  src/domains/cgn/_modules/functions_apps/variables.tf
  src/domains/cgn/_modules/redis/data.tf
  src/domains/cgn/_modules/redis/main.tf
  src/domains/cgn/_modules/redis/outputs.tf
  src/domains/cgn/_modules/redis/redis_cgn.tf
  src/domains/cgn/_modules/redis/variables.tf
  src/domains/cgn/prod/README.md
  src/domains/cgn/prod/apim.tf
  src/domains/cgn/prod/cosmos.tf
  src/domains/cgn/prod/functions_apps.tf
  src/domains/cgn/prod/outputs.tf
  src/domains/cgn/prod/redis.tf
Labels: cgn

#1427 [IOPLT-961] Add environment on DEV-IO
  .github/workflows/common_dev_code_review.yaml
  .github/workflows/common_dev_deploy.yaml
  src/common/dev/.terraform.lock.hcl
  src/common/dev/README.md
  src/common/dev/locals.tf
  src/common/dev/main.tf
  src/identity/dev/.terraform.lock.hcl
  src/identity/dev/README.md
  src/identity/dev/locals.tf
  src/identity/dev/main.tf
  src/identity/dev/tfmodules.lock.json
  src/repository/README.md
  src/repository/data.tf
  src/repository/github_environment_cd.tf
  src/repository/github_environment_ci.tf
  src/repository/github_repository.tf
  src/repository/locals.tf
  src/repository/main.tf
Labels: automation

#1433 Add workflow to automate APIM backup and restore
  .github/workflows/backup_apim_deploy.yaml
  src/common/_modules/github_runner/main.tf
  src/common/_modules/github_runner/variables.tf
  src/common/prod/italynorth.tf
  src/common/prod/tfmodules.lock.json
  src/github-runner/.terraform.lock.hcl
  src/github-runner/README.md
  src/github-runner/container_app_jobs.tf
  src/github-runner/data.tf
  src/github-runner/env/prod/terraform.tfvars
  src/github-runner/outputs.tf
  src/github-runner/variables.tf
  src/repository/README.md
  src/repository/data.tf
  src/repository/github_environment_apim.tf
  src/repository/locals.tf
Labels: automation, github-runner

#1434 Update APIM workflow to stop and restart services
  .github/workflows/backup_apim_deploy.yaml
Labels: automation
