Repository pagopa/io-infra, pull requests merged in 2025-07, with the labels that each got.

#1571 Delete VNet weu-prod01
  src/_modules/common_values/data.tf
  src/_modules/common_values/outputs_network.tf
  src/common/prod/.terraform.lock.hcl
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/global.tf
  src/common/prod/outputs.tf
  src/common/prod/tfmodules.lock.json
  src/core/_modules/container_registry/acr.tf
  src/core/_modules/container_registry/locals.tf
  src/core/_modules/container_registry/outputs.tf
  src/core/_modules/container_registry/variables.tf
  src/core/prod/README.md
  src/core/prod/data.tf
  src/core/prod/italynorth.tf
  src/core/prod/westeurope.tf
Labels: core

#1596 [#IOPID-3207, IOPID-3247] set rewrite-rules to SM paths
  src/common/_modules/app_gateway/locals.tf
  src/common/_modules/application_gateway/main.tf
  src/common/prod/.terraform.lock.hcl
  src/common/prod/README.md
  src/common/prod/main.tf
  src/common/prod/tfmodules.lock.json
Labels: status: applied

#1600 Add private endpoints to cgn and bonus backup storage accounts
  .github/workflows/bonus_cd.yaml
  .github/workflows/bonus_ci.yaml
  src/domains/bonus/prod/README.md
  src/domains/bonus/prod/data.tf
  src/domains/bonus/prod/networking.tf
  src/domains/bonus/prod/storage_account.tf
  src/domains/cgn/_modules/storage_accounts/data.tf
  src/domains/cgn/_modules/storage_accounts/storage_account_cosmos_backup.tf
Labels: cgn, automation

#1599 removed iopcgnlegalbackupstorage
  src/domains/cgn/_modules/storage_accounts/key_vault_secrets.tf
  src/domains/cgn/_modules/storage_accounts/outputs.tf
  src/domains/cgn/_modules/storage_accounts/storage_account_container_legal_backup_blob.tf
  src/domains/cgn/_modules/storage_accounts/storage_account_legal_backup.tf
  src/domains/cgn/prod/README.md
  src/domains/cgn/prod/outputs.tf
Labels: cgn

#1602 added pep
  src/domains/cgn/_modules/storage_accounts/data.tf
  src/domains/cgn/_modules/storage_accounts/storage_account_cosmos_backup.tf
Labels: cgn

#1608 Allow workflows to change key vault secrets
  src/core/prod/README.md
  src/core/prod/iam.tf
Labels: core
