Repository pagopa/io-infra, pull requests merged in 2025-06, with the labels that each got.

#1540 Upgrade dx pre commits to version 0.1.0
  .pre-commit-config.yaml
  src/common/prod/tfmodules.lock.json
  src/core/prod/tfmodules.lock.json
  src/domains/functions/tfmodules.lock.json
  src/domains/ioweb-common/tfmodules.lock.json
  src/identity/dev/tfmodules.lock.json
  src/identity/prod/tfmodules.lock.json
  src/migration/prod/tfmodules.lock.json
Labels: core

#1544 [#IOPLT-1120] Change redirect url to download page instead home page
  .github/workflows/call_code_review.yaml
  .github/workflows/call_release.yaml
  src/domains/continua/_modules/app_services/app_service_continua.tf
Labels: automation

#1545 Fix runner version for terraform apply job in pipeline
  .github/workflows/call_release.yaml
Labels: automation

#1558 Run precommit to fix apply
  src/common/prod/tfmodules.lock.json
  src/github-runner/.terraform.lock.hcl
Labels: github-runner
