Repository pagopa/io-infra, pull requests merged in 2025-05, with the labels that each got.

#1503 [#IOPLT-1052] Create new APIM io-proxy
  src/common/_modules/platform_api_gateway/data.tf
  src/common/_modules/platform_api_gateway/main.tf
  src/common/_modules/platform_api_gateway/networking.tf
  src/common/_modules/platform_api_gateway/output.tf
  src/common/_modules/platform_api_gateway/rbac.tf
  src/common/_modules/platform_api_gateway/variables.tf
  src/common/prod/README.md
  src/common/prod/data.tf
  src/common/prod/italynorth.tf
  src/common/prod/tfmodules.lock.json
  src/domains/cgn/prod/.terraform.lock.hcl
  src/domains/ioweb-common/.terraform.lock.hcl
  src/domains/ioweb-common/tfmodules.lock.json
  src/migration/prod/tfmodules.lock.json
Labels: cgn

#1510 Add routing platform api to api gateway
  src/common/_modules/application_gateway/main.tf
  src/common/_modules/platform_api_gateway/policies/platform/v1/get_server_info/policy.xml
  src/common/_modules/platform_api_gateway/policies/platform/v1/redirect/policy.xml
Labels: status: apply in progress

#1522 Add a workaround to avoid VPN re-creation
  src/core/_modules/vpn/main.tf
  src/core/prod/.terraform.lock.hcl
  src/core/prod/README.md
  src/core/prod/main.tf
Labels: core

#1516 [#IOPLT-1139] Add platform admin adgroup iam to common storage
  src/core/_modules/key_vaults/kv.tf
  src/core/_modules/key_vaults/kv_common.tf
  src/core/_modules/key_vaults/variables.tf
  src/core/_modules/storage_accounts/iam.tf
  src/core/_modules/storage_accounts/variables.tf
  src/core/prod/README.md
  src/core/prod/data.tf
  src/core/prod/italynorth.tf
  src/core/prod/tfmodules.lock.json
  src/core/prod/westeurope.tf
Labels: core

#1517 [#IOPLT-1058] Enable all platform api routing via api gateway
  src/common/_modules/application_gateway/main.tf
Labels: status: applied

#1508 Remove custom role definition from Core configuration
  src/core/_modules/custom_roles/outputs.tf
  src/core/_modules/custom_roles/pagopa_opex_role.tf
  src/core/_modules/custom_roles/variables.tf
  src/core/prod/README.md
  src/core/prod/italynorth.tf
Labels: core
